{% extends 'base/main.html'%}
{% load static %}
{% get_static_prefix as STATIC_PREFIX %}

{% block content %}
<br>
<main>
    <header class="entry-header">
        <h1 class="entry-title">Estágios</h1>
        <div class="linha"></div>
    </header>
    <br>
    <div class="entry-content">
        <p>Os objetivos do <strong>Estágio Supervisionado</strong> são:</p>
        <ul>
            <li>Proporcionar ao estudante oportunidades de desenvolver suas habilidades, analisar situações e propor mudanças no ambiente organizacional e societário;</li>
            <li>Complementar o processo ensino-aprendizagem;</li>
            <li>Incentivar a busca do aprimoramento pessoal e profissional;</li>
            <li>Aproximar os conhecimentos acadêmicos das práticas de mercado com oportunidades para o estudante de conhecer as organizações e saber como elas funcionam;</li>
            <li>Incentivar as potencialidades individuais, proporcionando o surgimento de profissionais empreendedores;</li>
            <li>Promover a integração da Faculdade/Empresa/Comunidade e servir como meio de reconhecimento das atividades de pesquisa e docência, possibilitando ao estudante identificar-se com novas áreas de atuação;</li>
            <li>Propiciar colocação profissional junto ao mercado de trabalho, de acordo com a área de interesse do estudante.</li>
        </ul>
        <p><strong>PROFESSORES RESPONSÁVEIS:</strong></p>
        <table class="table" id="professores">

            <tr>
                <td><strong>ADS –</strong> Prof. Washington</td>
                <td>Quarta-feira das 10h às 11h e das 18h às 19h<br>Quinta-feira das 09h às11h<br>Sexta-feira das 18h às 19h</td>
            </tr>
            <tr>
                <td><strong>AGRO –</strong> Prof. João</td>
                <td>Quarta-feira das 18h00 às 19h00<br>Quinta-feira das 18h00 às 19h00<br>Sexta-feira das 18h00 às 19h00</td>
            </tr>
            <tr>
                <td><strong>GE –</strong> Prof. Washington</td>
                <td>Quarta-feira das 18h00 às 19h00<br>Quinta-feira das 18h00 às 19h00<br>Sexta-feira das 18h00 às 19h00</td>
            </tr>
            <tr>
                <td><strong>GTI –</strong> Prof. Isaías</td>
                <td>Segunda-feira das 09h20 às 11h20 e das 14h às 17h</td>
            </tr>
            </table>
        <br>
        <p><strong>&nbsp;DOCUMENTAÇÃO A PARTIR DE 31/03/2023:</strong></p>
        <br>
        <p> Procedimento de realização de Estágio <a rel="noopener noreferrer" href="/media/arquivos/estagios/Procedimento-de-realizacao-de-estagio-convencional.pdf" target="_blank"><b>Convencional</b></a></p>
        <p><strong><a href="/media/arquivos/estagios/Plano-de-Atividades-de-Estagio-PAE.docx" target="_blank" rel="noreferrer noopener">ANEXO A1 – Plano de Atividades de Estágio (PAE)</a></strong> – <strong>1 VIA</strong></p>
        <p><strong><a href="/media/arquivos/estagios/Termo-de-Compromisso-de-Estagio-nao-Obrigatorio-Remunerado.docx" target="_blank" rel="noreferrer noopener">ANEXO A – Termo de Compromisso de Estágio não Obrigatório Remunerado</a></strong> – <strong>3 VIAS</strong></p>
        <p><strong><a href="/media/arquivos/estagios/Termo-de-Compromisso-de-Estagio-Obrigatorio-Remunerado.docx" target="_blank" rel="noreferrer noopener">ANEXO B – Termo de Compromisso de Estágio Obrigatório Remunerado</a></strong> – <strong>3 VIAS</strong></p>
        <p><strong><a href="/media/arquivos/estagios/Termo-de-Compromisso-de-Estagio-Obrigatorio-nao-Remunerado.docx" target="_blank" rel="noreferrer noopener">ANEXO C – Termo de Compromisso de Estágio Obrigatório não Remunerado</a></strong> – <strong>3 VIAS</strong></p>
        <p><strong><a href="/media/arquivos/estagios/Relatorio-de-Atividades-Parcial.docx">Relatório Parcial</a> – 1 VIA</strong></p>
        <p><strong><a href="/media/arquivos/estagios/Avaliacao-Desempenho-do-Estagiario.docx">Desempenho Avaliado pela Concedente</a> – 1 VIA</strong></p>
        <p><strong><a href="/media/arquivos/estagios/Relatorio-Final.docx">Relatório Final</a> – 1 VIA </strong></p>
        <p>Procedimento de realização de Estágio <a rel="noopener noreferrer" href="/media/arquivos/estagio/Procedimento-de-realizacao-de-estagio-por-equivalencia.pdf" target="_blank"><b>Por Equivalência</b></a><a rel="noopener noreferrer" href="https://www.fatecmococa.edu.br/wp-content/uploads/2019/04/Procedimento-de-realização-de-estágio-por-equivalência.pdf" target="_blank">
            <img decoding="async" title="Clique aqui para ver o passo a passo de EQUIVALÊNCIA!" class="aligncenter wp-image-3180 size-large"
                 src="{{ STATIC_PREFIX }}images/estagios/Equivalência-1024x476.png" alt=""
                 srcset="{{ STATIC_PREFIX }}images/estagios/Equivalência-1024x476.png 1024w,
                         {{ STATIC_PREFIX }}images/estagios/Equivalência-300x140.png 300w,
                         {{ STATIC_PREFIX }}images/estagios/Equivalência-768x357.png 768w"
                 sizes="(max-width: 800px) 100vw, 800px" width="800" height="372"></a></p>
        <p><strong><a href="/media/arquivos/estagios/Declaracao-Vinculo-Equivalencia.docx">Declaração de Vínculo de Equivalência</a> – 1 VIA</strong></p>
        <p><strong><a href="/media/arquivos/estagios/Processo-de-Validacao-de-Equivalencia.docx">Solicitação de Validação de Equivalência</a> – 1 VIA </strong></p>
        <hr>
        <h2><span style="color: #800000;">Estágio Obrigatório e Não Obrigatório</span></h2>
        <h3>(Mínimo de 240 horas)</h3>
        <p>A lei nº 11.788, de 25 de setembro de 2008, em seu art. 2º, §§ 1º e 2º dispõe que o estágio pode ser:</p>
        <p>a) <span style="text-decoration: underline;">obrigatório</span> aquele definido como tal no projeto do curso, cuja carga horária é requisito para aprovação e obtenção do diploma;<br>b) <span style="text-decoration: underline;">não obrigatório</span> aquele desenvolvido como atividade opcional, acrescida à carga horária regular e obrigatória.</p>
        <p>Em ambos os casos não pode ultrapassar 06 (seis) horas diárias ou 30 (trinta) horas semanais, e a Unidade Concedente de Estágio é&nbsp;responsável pela contratação de seguro contra acidentes pessoais e indicar ao aluno/estagiário o número da apólice.</p>
        <p><span style="color: #ff0000;"><em>INFORME SOBRE TRANCAMENTO DE MATRÍCULA:</em></span> <span style="color: #333333;">Prezado Aluno(a), em caso de pedido de trancamento de matrícula deve estar atento se está realizando estágio. Condição&nbsp;fundamental para que isto ocorra é estar com a matrícula ativa. Neste sentido, em caso de trancar o semestre e seu estágio&nbsp;estiver em andamento, este é automaticamente cancelado.</span></p>
        <p><span style="color: #0000ff;"><strong><em>RELATÓRIO SEMESTRAL OBRIGATÓRIO:</em></strong></span> Para os alunos que realizam estágio é importante ser feito o relatório semestral, trata-se de relatório parcial e bastante simplificado&nbsp;cujo modelo está em nosso site. Ao completar cada seis meses, o mesmo deverá ser preenchido e entregue na coordenação de&nbsp;estágios. Como o período máximo de estágio numa organização é dois anos, serão três em caso disto ocorrer, o quarto será o&nbsp;relatório final. Para estágios ou equivalência de estágio que contemplem período inferior aos seis meses, não se faz necessário o&nbsp;preenchimento e entrega do citado relatório.<span style="color: #333333;">&nbsp;</span></p>
        <p>Confira <strong><a rel="noreferrer noopener" href="https://fatecspgov-my.sharepoint.com/:x:/g/personal/vinicius_brisighello_fatec_sp_gov_br/EeCqMftACAlEl0dOrTPMqr4BKDYZVow2R_N2XHdCNqpjzA?e=GiluvH" target="_blank">AQUI</a></strong><a rel="noreferrer noopener" href="https://fatecspgov-my.sharepoint.com/:x:/g/personal/vinicius_brisighello_fatec_sp_gov_br/EeCqMftACAlEl0dOrTPMqr4BKDYZVow2R_N2XHdCNqpjzA?e=GiluvH" target="_blank"> </a>as empresas conveniadas!</p>
        <br>
    </div>
</main>
<br>
{% endblock content %}