{% extends 'base/main.html'%}

{% block content %}

    <div id="content" class="site-content">
    <div class="edm-container">
    <div id="primary" class="content-area">
    <main id="main" class="site-main" role="main">
    <article id="post-27" class="post-27 page type-page status-publish hentry">
    <header class="entry-header">
    <h1 class="entry-title">ANÁLISE E DES. DE SISTEMAS</h1> </header>
    <div class="entry-content">
    <p>O Tecnólogo em Análise e Desenvolvimento de Sistemas analisa, projeta, documenta, especifica, testa, implanta e mantém sistemas computacionais de informação. Esse profissional trabalha com ferramentas computacionais, equipamentos de informática e metodologias de projetos na produção de sistemas.</p>
    <p>Raciocínio lógico, emprego de linguagens de programação e de metodologias de construção de projetos, visando a qualidade, usabilidade, robustez, integridade e segurança de programas computacionais são fundamentais à atuação desse profissional.</p>
    <table class="Renata">
    <tbody>
    <tr>
    <th colspan="1" scope="col" bgcolor="#9D9D9D"><strong>Coordenador: <em>Prof. Ms. Tarcísio Jorge Bezerra</em></strong></th>
    </tr>
    <tr>
    <td><a href="mailto:f120ads@cps.sp.gov.br">f120ads@cps.sp.gov.br</a></td>
    </tr>
    <tr>
    <td>(19) 3656-5559 – Ramal: 212</td>
    </tr>
    </tbody>
    </table>
    <p style="padding-left: 120px;">
    </p><p>Conheça a grade do curso <a href="./?page_id=190"><strong>aqui</strong></a>.</p>
    </div>
    </article>
    </main>
    </div>
    </div>
    </div>
{% endblock content%}