{% extends 'base/main.html'%}

{% block content %}
<br>
<main>
    <header class="entry-header">
        <h1 class="entry-title extra">Análise e Desenvolvimento de Sistemas</h1>
        <div class="linha"></div>
    </header>
    <br>
    <div class="entry-content">
        <p>O Tecnólogo em Análise e Desenvolvimento de Sistemas analisa, projeta, documenta, especifica, testa, implanta e mantém sistemas computacionais de informação. Esse profissional trabalha com ferramentas computacionais, equipamentos de informática e metodologias de projetos na produção de sistemas.</p>
        <p>Raciocínio lógico, emprego de linguagens de programação e de metodologias de construção de projetos, visando a qualidade, usabilidade, robustez, integridade e segurança de programas computacionais são fundamentais à atuação desse profissional.</p>
        <br>
        <table class="table">
            <tr class="table-primary">
                <td><strong>Coordenador:</strong></td>
                <td>Prof. Ms. Tarcísio Jorge Bezerra</td>
            </tr>
            <tr>
                <td><strong>Email:</strong></td>
                <td><a href="mailto:f120ads@cps.sp.gov.br">f120ads@cps.sp.gov.br</a></td>
            </tr>
            <tr class="table-primary">
                <td><strong>Telefone:</strong></td>
                <td>(19) 3656-5559 – <strong>Ramal: 212</strong></td>
            </tr>
        </table>
        <br>
        <p>Conheça a grade do curso <a href="./?page_id=190"><strong>aqui</strong></a>.</p>
        <br>
    </div>
</main>
<br>
{% endblock content%}