{% extends 'base/main.html'%}
{% load static %}

{% block content %}
<br>
<main>
    <header class="entry-header">
        <h1 class="entry-title extra">Análise e Desenvolvimento de Sistemas - AMS</h1>
        <div class="linha"></div>
    </header>
    <br>
    <div class="entry-content">
        <p>O Programa de Articulação da Formação Profissional Média e Superior (AMS) criado em 2018 no CEETEPS,
            possibilita a oferta de Ensino Médio com Habilitação Profissional Técnica que aproveita competências,
            habilidades, conhecimentos e experiências desenvolvidas na unidade de ensino e nas empresas parceiras,
            para o prosseguimento de estudos em cursos correlatos, do mesmo Eixo Tecnológico, em nível Superior.
        </p>
        <p>A articulação do Ensino Médio com Habilitação Profissional Técnica e o Curso Superior de Tecnologia
            em um itinerário formativo contínuo, foi desenvolvida a partir do estudo dos perfis dos egressos
            dos cursos do Ensino Médio com Habilitação Profissional Técnica em Desenvolvimento de Sistemas e
            do Superior Tecnológico em Análise e Desenvolvimento de Sistemas, sendo criado um perfil que contempla
            as competências e atribuições profissionais de ambos os cursos.
        </p>
        <br>
        <table class="table">
            <tr class="table-primary">
                <td><strong>Coordenador:</strong></td>
                <td>Profa. Ma. Jaciara Silva Carosia/td>
            </tr>
            <tr>
                <td><strong>Email:</strong></td>
                <td><a href="mailto:jaciara.carosia@fatec.sp.gov.br">jaciara.carosia@fatec.sp.gov.br</a></td>
            </tr>
            <tr class="table-primary">
                <td><strong>Telefone:</strong></td>
                <td>(19) 3656-5559 – <strong>Ramal: 212</strong></td>
            </tr>
        </table>
        <br>
        <p>Conheça a grade do curso <a href="{% static '/grades/ADS_AMS.pdf' %}"><strong>aqui</strong></a>.</p>
        <br>
    </div>
</main>
<br>
{% endblock content%}