{% extends 'base/main.html'%}

{% block content %}

    <div id="content" class="site-content">
    <div class="edm-container">
    <div id="primary" class="content-area">
    <main id="main" class="site-main" role="main">
    <article id="post-38" class="post-38 page type-page status-publish hentry">
    <header class="entry-header">
    <h1 class="entry-title">Agronegócio</h1> </header>
    <div class="entry-content">
    <p>O Tecnólogo em Agronegócio é o profissional capaz de viabilizar soluções tecnológicas a partir do uso de ferramentas empresariais de planejamento, organização, direção, controle e replanejamento aplicados aos segmentos dos sistemas agroindustriais. É um profissional de formação multidisciplinar, de visão abrangente, sistêmica e critica com potencial para acompanhar os avanços tecnológicos relacionados ao setor, visando à otimização de produção e o uso racional dos recursos.</p>
    <p>O profissional é capaz de realizar a prospecção, ameaças e oportunidades de novos mercados, estruturar e gerir unidades de inteligência de negócios, desenhar e avaliar modelos de custeio e produção, investimentos e captação de recursos adequados ao mercado por intermédio de planos de negócios.</p>
    <figure class="wp-block-table Renata"><table><tbody><tr><th><strong>Coordenador: <em>Prof. Ms. </em></strong><em>Lucas de Oliveira Gomes </em></th></tr><tr><td><a href="mailto:f120agronegocio@cps.sp.gov.br">f120agronegocio@cps.sp.gov.br</a></td></tr><tr><td>(19) 3656-5559 – Ramal: 226</td></tr></tbody></table></figure>
    <p>Conheça a grade do curso <a href="https://www.fatecmococa.edu.br/?page_id=166"><strong>aqui</strong></a>.</p>
    </div>
    </article>
    </main>
    </div>
    </div>
    </div>
{% endblock content%}