{% extends 'base/main.html'%}

{% block content %}
<br>
<main>
    <header class="entry-header">
        <h1 class="entry-title">Agronegócio</h1>
        <div class="linha"></div>
    </header>
    <br>
    <div class="entry-content">
        <p>O Tecnólogo em Agronegócio é o profissional capaz de viabilizar soluções tecnológicas a partir do uso de ferramentas empresariais de planejamento, organização, direção, controle e replanejamento aplicados aos segmentos dos sistemas agroindustriais. É um profissional de formação multidisciplinar, de visão abrangente, sistêmica e critica com potencial para acompanhar os avanços tecnológicos relacionados ao setor, visando à otimização de produção e o uso racional dos recursos.</p>
        <p>O profissional é capaz de realizar a prospecção, ameaças e oportunidades de novos mercados, estruturar e gerir unidades de inteligência de negócios, desenhar e avaliar modelos de custeio e produção, investimentos e captação de recursos adequados ao mercado por intermédio de planos de negócios.</p>
        <br>
        <table>
            <tr>
                <td><strong>Coordenador:</strong></td>
                <td>Prof. Ms. Lucas de Oliveira Gomes</td>
            </tr>
            <tr>
                <td><strong>Email:</strong></td>
                <td><a href="mailto:f120agronegocio@cps.sp.gov.br">f120agronegocio@cps.sp.gov.br</a></td>
            </tr>
            <tr>
                <td><strong>Telefone:</strong></td>
                <td>(19) 3656-5559 – <strong>Ramal: 226</strong></td>
            </tr>
        </table>
        <br>
        <p>Conheça a grade do curso <a href="https://www.fatecmococa.edu.br/?page_id=166"><strong>aqui</strong></a>.</p>
        <br>
    </div>
</main>
<br>
{% endblock content%}