{% extends 'base/main.html'%}

{% block content %}
<br>
<main>
    <header class="entry-header">
        <h1 class="entry-title">Gestão Empresarial - EAD</h1>
        <div class="linha"></div>
    </header>
    <br>
    <div class="entry-content">
        <p>O Tecnólogo em Gestão Empresarial (Processos Gerenciais) elabora e implementa planos de negócios, utilizando métodos e técnicas de gestão na formação e organização empresarial especificamente nos processos de comercialização, suprimento, armazenamento, movimentação de materiais e no gerenciamento de recursos financeiros e humanos.</p>
        <p>A habilidade para lidar com pessoas, capacidade de comunicação, trabalho em equipe, liderança, negociação, busca de informações, tomada de decisão em contextos econômicos, políticos, culturais e sociais distintos, são requisitos importantes a esse profissional.</p>
        <table class="table">
            <tr class="table-primary">
                <td><strong>Coordenador de Polo:</strong></td>
                <td>Prof. Dr. José Eduardo Zaia</td>
            </tr>
            <tr>
                <td><strong>Email:</strong></td>
                <td><a href="mailto:jose.zaia@fatec.sp.gov.br" target="_blank" rel="noopener noreferrer" data-auth="NotApplicable">jose.zaia@fatec.sp.gov.br</a></td>
            </tr>
            <tr class="table-primary">
                <td><strong>Telefone:</strong></td>
                <td>(19) 3656-5559 – <strong>Ramal: 227</strong></td>
            </tr>
        </table>
        <br>
        <p>Conheça a grade do curso <a href="./?page_id=205"><strong>aqui</strong></a>.</p>
        <br>
    </div>
</main>
<br>

{% endblock content%}