{% extends 'base/main.html'%}

{% block content %}
<br>
<main>
    <header class="entry-header">
        <h1 class="entry-title">GESTÃO DE R.H.</h1>
        <div class="linha"></div>
    </header>
    <br>
    <div class="entry-content">
        <p>O tecnólogo em Gestão de Recursos Humanos planeja e atua na gestão de pessoas dentro de uma empresa, desde o recrutamento e seleção até a avaliação de desempenho, passando por planos de cargos e salários, de benefícios e de carreira, capacitação e treinamento, além de programas de qualidade de vida do trabalho. Também contribui para a elaboração do planejamento estratégico – que define os objetivos de uma empresa e as estratégias para alcançá-los usando os recursos disponíveis de maneira eficiente. </p>
        <p>O curso é muito procurado por quem já atua em Recursos Humanos ou deseja uma segunda graduação. Supervisores de departamentos variados buscam a formação para melhorar a performance de suas equipes.</p>
        <p>Conheça a grade do curso <a href="https://www.fatecmococa.edu.br/?page_id=6312">aqui</a></p>
        <br>
    </div>
</main>
<br>
{% endblock content%}