{% extends 'base/main.html'%}

{% block content %}
<br>
<main>
    <header class="entry-header">
        <h1 class="entry-title extra">Análise e Desenvolvimento de Sistemas</h1>
        <div class="linha"></div>
    </header>
    <br>
    <div class="entry-content">
        <h2>Grade Curricular</h2>
        <table class="table grades">
            <tbody>
                <tr>
                    <th class="grade-periodo">1<sup>o</sup> PERÍODO</th>
                </tr>
                <tr align="center">
                    <td width="250"><strong>DISCIPLINA</strong></td>
                    <td width="75"><strong>CH SEMANAL</strong></td>
                    <td width="75"><strong>CH SEMESTRAL</strong></td>
                </tr>
                <tr>
                  <td>Programação em Microinformática</td>
                  <td>4</td>
                  <td>80</td>
                </tr>
                <tr>
                  <td>Algoritmos e Lógica de Programação</td>
                  <td>4</td>
                  <td>80</td>
                </tr>
                <tr>
                  <td>Laboratório de Hardware</td>
                  <td>2</td>
                  <td>40</td>
                </tr>
                <tr>
                  <td>Arquitetura e Organização de Computadores</td>
                  <td>4</td>
                  <td>80</td>
                </tr>
                <tr>
                  <td>Administração Geral</td>
                  <td>4</td>
                  <td>80</td>
                </tr>
                <tr>
                  <td>Matemática Discreta</td>
                  <td>4</td>
                  <td>80</td>
                </tr>
                <tr>
                  <td>Inglês I</td>
                  <td>2</td>
                  <td>40</td>
                </tr>
                <tr>
                    <td ><strong>TOTAL DO SEMESTRE</strong></td>
                    <td><strong>480</strong></td>
                </tr>
            </tbody>
        </table>
        <p>&nbsp;</p>
        <table class="table grades">
            <tbody>
              <tr>
                  <th class="grade-periodo">2<sup>o</sup> PERÍODO</th>
              </tr>
              <tr align="center">
                   <td width="250"><strong>DISCIPLINA</strong></td>
                   <td width="75"><strong>CH SEMANAL</strong></td>
                   <td width="75"><strong>CH SEMESTRAL</strong></td>
              </tr>
              <tr>
                <td>Engenharia de Software I</td>
                <td>4</td>
                <td>80</td>
              </tr>
              <tr>
                <td>Linguagem de Programação</td>
                <td>4</td>
                <td>80</td>
              </tr>
              <tr>
                <td>Sistemas de Informação</td>
                <td>4</td>
                <td>80</td>
              </tr>
              <tr>
                <td>Contabilidade</td>
                <td>2</td>
                <td>40</td>
              </tr>
              <tr>
                <td>Cálculo</td>
                <td>4</td>
                <td>80</td>
              </tr>
              <tr>
                <td>Comunicação e Expressão</td>
                <td>4</td>
                <td>80</td>
              </tr>
              <tr>
                <td>Inglês II</td>
                <td>2</td>
                <td>40</td>
              </tr>
              <tr>
                <td>
                  <strong>TOTAL DO SEMESTRE</strong>
                </td>
                <td>480</td>
              </tr>
            </tbody>
        </table>
        <p>&nbsp;</p>
        <table class="table grades">
            <tbody>
                  <tr>
                    <th class="grade-periodo">3<sup>o</sup> PERÍODO</th>
                  </tr>
                  <tr class="GradeCurricular" align="center">
                    <td width="250"><strong>DISCIPLINA</strong></td>
                    <td width="75"><strong>CH SEMANAL</strong></td>
                    <td width="75"><strong>CH SEMESTRAL</strong></td>
                  </tr>
                  <tr>
                    <td>Engenharia de Software II</td>
                    <td>4</td>
                    <td>80</td>
                  </tr>
                  <tr>
                    <td>Interação Humano Computador</td>
                    <td>2</td>
                    <td>40</td>
                  </tr>
                  <tr>
                    <td>Estruturas de Dados</td>
                    <td>4</td>
                    <td>80</td>
                  </tr>
                  <tr>
                    <td>Sistemas Operacionais I</td>
                    <td>4</td>
                    <td>80</td>
                  </tr>
                  <tr>
                    <td>Economia e Finanças</td>
                    <td>2</td>
                    <td>40</td>
                  </tr>
                  <tr>
                    <td>Estatística Aplicada</td>
                    <td>4</td>
                    <td>80</td>
                  </tr>
                  <tr>
                    <td>Sociedade&nbsp; e Tecnologia</td>
                    <td>2</td>
                    <td>40</td>
                  </tr>
                  <tr>
                    <td>Inglês III</td>
                    <td>2</td>
                    <td>40</td>
                  </tr>
                  <tr>
                    <td>
                      <strong>TOTAL DO SEMESTRE</strong>
                    </td>
                    <td>480</td>
                  </tr>
            </tbody>
        </table>
        <p>&nbsp;</p>
        <table class="table grades" >
            <tbody>
                 <tr>
                    <th class="grade-periodo">4<sup>o</sup> PERÍODO</th>
                 </tr>
                 <tr class="GradeCurricular" align="center">
                    <td width="250"><strong>DISCIPLINA</strong></td>
                    <td width="75"><strong>CH SEMANAL</strong></td>
                    <td width="75"><strong>CH SEMESTRAL</strong></td>
                 </tr>
                 <tr>
                    <td>Programação Orientada a Objetos</td>
                    <td>4</td>
                    <td>80</td>
                  </tr>
                  <tr>
                    <td>Banco de Dados</td>
                    <td>4</td>
                    <td>80</td>
                  </tr>
                  <tr>
                    <td>Sistemas Operacionais II</td>
                    <td>4</td>
                    <td>80</td>
                  </tr>
                  <tr>
                    <td>Programação WEB (Eletiva I)</td>
                    <td>4</td>
                    <td>80</td>
                  </tr>
                  <tr>
                    <td>Metodologia da Pesquisa Científico-Tecnológica</td>
                    <td>2</td>
                    <td>40</td>
                  </tr>
                  <tr>
                    <td>Inglês IV</td>
                    <td>2</td>
                    <td>40</td>
                  </tr>
                  <tr>
                    <td>
                      <strong>TOTAL DO SEMESTRE</strong>
                    </td>
                    <td>480</td>
                  </tr>
            </tbody>
        </table>
        <p>&nbsp;</p>
        <table class="table grades" >
            <tbody>
              <tr>
                  <th class="grade-periodo">5<sup>o</sup> PERÍODO</th>
              </tr>
              <tr class="GradeCurricular" align="center">
                <td width="250"><strong>DISCIPLINA</strong></td>
                <td width="75"><strong>CH SEMANAL</strong></td>
                <td width="75"><strong>CH SEMESTRAL</strong></td>
              </tr>
              <tr>
                <td>Laboratório de Engenharia de Software</td>
                <td>4</td>
                <td>80</td>
              </tr>
              <tr>
                <td>Segurança da Informação</td>
                <td>2</td>
                <td>40</td>
              </tr>
              <tr>
                <td>Redes de Computadores</td>
                <td>4</td>
                <td>80</td>
              </tr>
              <tr>
                <td>Laboratório de Banco de Dados (Escolha I)</td>
                <td>4</td>
                <td>80</td>
              </tr>
              <tr>
                <td>Programação para Dispositivos Móveis (Eletiva II)</td>
                <td>4</td>
                <td>80</td>
              </tr>
              <tr>
                <td>Programação Linear e Aplicações</td>
                <td>4</td>
                <td>80</td>
              </tr>
              <tr>
                <td>Inglês V</td>
                <td>2</td>
                <td>40</td>
              </tr>
              <tr>
                <td>
                  <strong>TOTAL DO SEMESTRE</strong>
                </td>
                <td>480</td>
              </tr>
            </tbody>
            </table>
        <p>&nbsp;</p>
        <table class="table grades" >
            <tbody>
              <tr>
                <th class="grade-periodo">6<sup>o</sup> PERÍODO</th>
              </tr>
              <tr class="GradeCurricular" align="center">
                <td width="250"><strong>DISCIPLINA</strong></td>
                <td width="75"><strong>CH SEMANAL</strong></td>
                <td width="75"><strong>CH SEMESTRAL</strong></td>
              </tr>
              <tr>
                <td>Gestão de Projetos</td>
                <td>4</td>
                <td>80</td>
              </tr>
              <tr>
                <td>Gestão e Governança de Tecnologia da Informação</td>
                <td>4</td>
                <td>80</td>
              </tr>
              <tr>
                <td>Laboratório de Redes (Escolha II)</td>
                <td>4</td>
                <td>80</td>
              </tr>
              <tr>
                <td>Auditoria de Sistemas (Escolha III)</td>
                <td>4</td>
                <td>80</td>
              </tr>
              <tr>
                <td>Gestão de&nbsp;Equipes</td>
                <td>2</td>
                <td>40</td>
              </tr>
              <tr>
                <td>Empreendedorismo</td>
                <td>2</td>
                <td>40</td>
              </tr>
              <tr>
                <td>Ética e Responsabilidade Profissional</td>
                <td>2</td>
                <td>40</td>
              </tr>
              <tr>
                <td>Inglês VI</td>
                <td>2</td>
                <td>40</td>
              </tr>
              <tr>
                <td>
                  <strong>TOTAL DO SEMESTRE</strong>
                </td>
                <td>480</td>
              </tr>

            </tbody>
        </table>
        <p>&nbsp;</p>
        <table class="table grades" >
            <tbody>
            <tr>
            <th class="grade-periodo">COMPONENTES CURRICULARES COMPLEMENTARES</th>
            </tr>
            <tr>
            <td>Estágio Curricular (a partir do 3<sup>o</sup> período)</td>
            <td width="75">240 horas</td>
            </tr>
            <tr>
            <td>Trabalho de Graduação (a partir do 5<sup>o</sup> período)</td>
            <td>160 horas</td>
            </tr>
            </tbody>
        </table>
        <br>
        <br>
        <br>
    </div>
</main>
<br>
{% endblock content%}


{% extends 'base/main.html'%}

<table>
  <tbody>
    <tr>
      <th scope="col">1 <sup>o</sup> PERÍODO </th>
    </tr>
    <tr>
      <td>
        <strong>DISCIPLINA</strong>
      </td>
      <td>
        <strong>CH SEMANAL</strong>
      </td>
      <td>
        <strong>CH SEMESTRAL</strong>
      </td>
    </tr>
    <tr>
      <td>Programação em Microinformática</td>
      <td>4</td>
      <td>80</td>
    </tr>
    <tr>
      <td>Algoritmos e Lógica de Programação</td>
      <td>4</td>
      <td>80</td>
    </tr>
    <tr>
      <td>Laboratório de Hardware</td>
      <td>2</td>
      <td>40</td>
    </tr>
    <tr>
      <td>Arquitetura e Organização de Computadores</td>
      <td>4</td>
      <td>80</td>
    </tr>
    <tr>
      <td>Administração Geral</td>
      <td>4</td>
      <td>80</td>
    </tr>
    <tr>
      <td>Matemática Discreta</td>
      <td>4</td>
      <td>80</td>
    </tr>
    <tr>
      <td>Inglês I</td>
      <td>2</td>
      <td>40</td>
    </tr>
    <tr>
      <td>
        <strong>TOTAL DO SEMESTRE</strong>
      </td>
      <td>480</td>
    </tr>
  </tbody>
</table>undefined</figure>undefined<figure class="wp-block-table is-style-stripes">
  <table>
    <tbody>
      <tr>
        <th scope="col">2 <sup>o</sup> PERÍODO </th>
      </tr>
      <tr>
        <td>
          <strong>DISCIPLINA</strong>
        </td>
        <td>
          <strong>CH SEMANAL</strong>
        </td>
        <td>
          <strong>CH SEMESTRAL</strong>
        </td>
      </tr>
      <tr>
        <td>Engenharia de Software I</td>
        <td>4</td>
        <td>80</td>
      </tr>
      <tr>
        <td>Linguagem de Programação</td>
        <td>4</td>
        <td>80</td>
      </tr>
      <tr>
        <td>Sistemas de Informação</td>
        <td>4</td>
        <td>80</td>
      </tr>
      <tr>
        <td>Contabilidade</td>
        <td>2</td>
        <td>40</td>
      </tr>
      <tr>
        <td>Cálculo</td>
        <td>4</td>
        <td>80</td>
      </tr>
      <tr>
        <td>Comunicação e Expressão</td>
        <td>4</td>
        <td>80</td>
      </tr>
      <tr>
        <td>Inglês II</td>
        <td>2</td>
        <td>40</td>
      </tr>
      <tr>
        <td>
          <strong>TOTAL DO SEMESTRE</strong>
        </td>
        <td>480</td>
      </tr>
    </tbody>
  </table>undefined
</figure>undefined<figure class="wp-block-table is-style-stripes">
  <table>
    <tbody>
      <tr>
        <th scope="col">3 <sup>o</sup> PERÍODO </th>
      </tr>
      <tr>
        <td>
          <strong>DISCIPLINA</strong>
        </td>
        <td>
          <strong>CH SEMANAL</strong>
        </td>
        <td>
          <strong>CH SEMESTRAL</strong>
        </td>
      </tr>
      <tr>
        <td>Engenharia de Software II</td>
        <td>4</td>
        <td>80</td>
      </tr>
      <tr>
        <td>Interação Humano Computador</td>
        <td>2</td>
        <td>40</td>
      </tr>
      <tr>
        <td>Estruturas de Dados</td>
        <td>4</td>
        <td>80</td>
      </tr>
      <tr>
        <td>Sistemas Operacionais I</td>
        <td>4</td>
        <td>80</td>
      </tr>
      <tr>
        <td>Economia e Finanças</td>
        <td>2</td>
        <td>40</td>
      </tr>
      <tr>
        <td>Estatística Aplicada</td>
        <td>4</td>
        <td>80</td>
      </tr>
      <tr>
        <td>Sociedade&nbsp; e Tecnologia</td>
        <td>2</td>
        <td>40</td>
      </tr>
      <tr>
        <td>Inglês III</td>
        <td>2</td>
        <td>40</td>
      </tr>
      <tr>
        <td>
          <strong>TOTAL DO SEMESTRE</strong>
        </td>
        <td>480</td>
      </tr>
    </tbody>
  </table>undefined
</figure>undefined<figure class="wp-block-table is-style-stripes">
  <table>
    <tbody>
      <tr>
        <th scope="col">4 <sup>o</sup> PERÍODO </th>
      </tr>
      <tr>
        <td>
          <strong>DISCIPLINA</strong>
        </td>
        <td>
          <strong>CH SEMANAL</strong>
        </td>
        <td>
          <strong>CH SEMESTRAL</strong>
        </td>
      </tr>
      <tr>
        <td>Engenharia de Software III</td>
        <td>4</td>
        <td>80</td>
      </tr>
      <tr>
        <td>Programação Orientada a Objetos</td>
        <td>4</td>
        <td>80</td>
      </tr>
      <tr>
        <td>Banco de Dados</td>
        <td>4</td>
        <td>80</td>
      </tr>
      <tr>
        <td>Sistemas Operacionais II</td>
        <td>4</td>
        <td>80</td>
      </tr>
      <tr>
        <td>Programação WEB (Eletiva I)</td>
        <td>4</td>
        <td>80</td>
      </tr>
      <tr>
        <td>Metodologia da Pesquisa Científico-Tecnológica</td>
        <td>2</td>
        <td>40</td>
      </tr>
      <tr>
        <td>Inglês IV</td>
        <td>2</td>
        <td>40</td>
      </tr>
      <tr>
        <td>
          <strong>TOTAL DO SEMESTRE</strong>
        </td>
        <td>480</td>
      </tr>
    </tbody>
  </table>undefined
</figure>undefined<figure class="wp-block-table is-style-stripes">
  <table>
    <tbody>
      <tr>
        <th scope="col">5 <sup>o</sup> PERÍODO </th>
      </tr>
      <tr>
        <td>
          <strong>DISCIPLINA</strong>
        </td>
        <td>
          <strong>CH SEMANAL</strong>
        </td>
        <td>
          <strong>CH SEMESTRAL</strong>
        </td>
      </tr>
      <tr>
        <td>Laboratório de Engenharia de Software</td>
        <td>4</td>
        <td>80</td>
      </tr>
      <tr>
        <td>Segurança da Informação</td>
        <td>2</td>
        <td>40</td>
      </tr>
      <tr>
        <td>Redes de Computadores</td>
        <td>4</td>
        <td>80</td>
      </tr>
      <tr>
        <td>Laboratório de Banco de Dados (Escolha I)</td>
        <td>4</td>
        <td>80</td>
      </tr>
      <tr>
        <td>Programação para Dispositivos Móveis (Eletiva II)</td>
        <td>4</td>
        <td>80</td>
      </tr>
      <tr>
        <td>Programação Linear e Aplicações</td>
        <td>4</td>
        <td>80</td>
      </tr>
      <tr>
        <td>Inglês V</td>
        <td>2</td>
        <td>40</td>
      </tr>
      <tr>
        <td>
          <strong>TOTAL DO SEMESTRE</strong>
        </td>
        <td>480</td>
      </tr>
    </tbody>
  </table>undefined
</figure>undefined<figure class="wp-block-table is-style-stripes">
  <table>
    <tbody>
      <tr>
        <th scope="col">6 <sup>o</sup> PERÍODO </th>
      </tr>
      <tr>
        <td>
          <strong>DISCIPLINA</strong>
        </td>
        <td>
          <strong>CH SEMANAL</strong>
        </td>
        <td>
          <strong>CH SEMESTRAL</strong>
        </td>
      </tr>
      <tr>
        <td>Gestão de Projetos</td>
        <td>4</td>
        <td>80</td>
      </tr>
      <tr>
        <td>Gestão e Governança de Tecnologia da Informação</td>
        <td>4</td>
        <td>80</td>
      </tr>
      <tr>
        <td>Laboratório de Redes (Escolha II)</td>
        <td>4</td>
        <td>80</td>
      </tr>
      <tr>
        <td>Auditoria de Sistemas (Escolha III)</td>
        <td>4</td>
        <td>80</td>
      </tr>
      <tr>
        <td>Gestão de&nbsp;Equipes</td>
        <td>2</td>
        <td>40</td>
      </tr>
      <tr>
        <td>Empreendedorismo</td>
        <td>2</td>
        <td>40</td>
      </tr>
      <tr>
        <td>Ética e Responsabilidade Profissional</td>
        <td>2</td>
        <td>40</td>
      </tr>
      <tr>
        <td>Inglês VI</td>
        <td>2</td>
        <td>40</td>
      </tr>
      <tr>
        <td>
          <strong>TOTAL DO SEMESTRE</strong>
        </td>
        <td>480</td>
      </tr>
    </tbody>
  </table>undefined
</figure>undefined<figure class="wp-block-table is-style-stripes">
  <table>
    <tbody>
      <tr>
        <th scope="col">COMPONENTES CURRICULARES COMPLEMENTARES</th>
      </tr>
      <tr>
        <td>Estágio Curricular (a partir do 3 <sup>o</sup> período) </td>
        <td>240 horas</td>
      </tr>
      <tr>
        <td>Trabalho de Graduação (a partir do 5 <sup>o</sup> período) </td>
        <td>160 horas</td>
      </tr>
    </tbody>
  </table>undefined
</figure>undefined<p>CH &#8211; Carga Horária da Disciplina</p>