{% extends 'base/main.html'%}

{% block content %}
<br>
<main>
    <header class="entry-header">
        <h1 class="entry-title">Agronegócio</h1>
        <div class="linha"></div>
    </header>
    <br>
    <div class="entry-content">
        <h2>Grade Curricular</h2>
        <table class="table grades">
            <tbody>
                <tr>
                    <th class="grade-periodo">1<sup>o</sup> PERÍODO</th>
                </tr>
                <tr align="center">
                    <td width="250"><strong>DISCIPLINA</strong></td>
                    <td width="75"><strong>CH SEMANAL</strong></td>
                    <td width="75"><strong>CH SEMESTRAL</strong></td>
                </tr>
                <tr>
                    <td>Administração Geral</td>
                    <td>4</td>
                    <td>80</td>
                </tr>
                <tr>
                    <td>Cálculo</td>
                    <td>4</td>
                    <td>80</td>
                </tr>
                <tr>
                    <td>Fundamentos do Agronegócio</td>
                    <td>2</td>
                    <td>40</td>
                </tr>
                <tr>
                    <td>Informática Aplicada ao Agronegócio</td>
                    <td>2</td>
                    <td>40</td>
                </tr>
                <tr>
                    <td>Inglês I</td>
                    <td>2</td>
                    <td>40</td>
                </tr>
                <tr>
                    <td>Português</td>
                    <td>2</td>
                    <td>40</td>
                </tr>
                <tr>
                    <td>Tecnologia de Produção Animal I</td>
                    <td>4</td>
                    <td>80</td>
                </tr>
                <tr>
                    <td>Tecnologia de Produção Vegetal I</td>
                    <td>4</td>
                    <td>80</td>
                </tr>
                <tr>
                    <td ><strong>TOTAL DO SEMESTRE</strong></td>
                    <td><strong>480</strong></td>
                </tr>
            </tbody>
        </table>
        <p>&nbsp;</p>
        <table class="table grades">
            <tbody>
                <tr>
                    <th class="grade-periodo">2<sup>o</sup> PERÍODO</th>
                </tr>
                <tr align="center">
                    <td width="250"><strong>DISCIPLINA</strong></td>
                    <td width="75"><strong>CH SEMANAL</strong></td>
                    <td width="75"><strong>CH SEMESTRAL</strong></td>
                </tr>
                <tr>
                    <td>Associativismo e Cooperativismo</td>
                    <td>2</td>
                    <td>40</td>
                </tr>
                <tr>
                    <td>Economia e Políticas Agrícolas</td>
                    <td>4</td>
                    <td>80</td>
                </tr>
                <tr>
                    <td>Estatística Básica</td>
                    <td>2</td>
                    <td>40</td>
                </tr>
                <tr>
                    <td>Gestão da Qualidade e Certificação</td>
                    <td>4</td>
                    <td>80</td>
                </tr>
                <tr>
                    <td>Inglês II</td>
                    <td>2</td>
                    <td>40</td>
                </tr>
                <tr>
                    <td>Metodologia da Pesquisa Científico-Tecnológica</td>
                    <td>2</td>
                    <td>40</td>
                </tr>
                <tr>
                    <td>Tecnologia de Produção Animal II</td>
                    <td>4</td>
                    <td>80</td>
                </tr>
                <tr>
                    <td>Tecnologia de Produção Vegetal II</td>
                    <td>4</td>
                    <td>80</td>
                </tr>
                <tr>
                    <td colspan="2"><strong>TOTAL DO SEMESTRE</strong></td>
                    <td>480</td>
                </tr>
            </tbody>
        </table>
        <p>&nbsp;</p>
        <table class="table grades">
            <tbody>
                <tr>
                    <th class="grade-periodo">3<sup>o</sup> PERÍODO</th>
                </tr>
                <tr class="GradeCurricular" align="center">
                    <td width="250"><strong>DISCIPLINA</strong></td>
                    <td width="75"><strong>CH SEMANAL</strong></td>
                    <td width="75"><strong>CH SEMESTRAL</strong></td>
                </tr>
                <tr>
                    <td>Agricultura de Precisão</td>
                    <td>4</td>
                    <td>80</td>
                </tr>
                <tr>
                    <td>Contabilidade</td>
                    <td>2</td>
                    <td>40</td>
                </tr>
                <tr>
                    <td>Defesa Sanitária e Fitossanitária</td>
                    <td>2</td>
                    <td>40</td>
                </tr>
                <tr>
                    <td>Infraestrutura do Agronegócio</td>
                    <td>2</td>
                    <td>40</td>
                </tr>
                <tr>
                    <td>Inglês III</td>
                    <td>2</td>
                    <td>40</td>
                </tr>
                <tr>
                    <td>Marketing</td>
                    <td>4</td>
                    <td>80</td>
                </tr>
                <tr>
                    <td>Matemática Financeira</td>
                    <td>2</td>
                    <td>40</td>
                </tr>
                <tr>
                    <td>Produção Agroindustrial I</td>
                    <td>4</td>
                    <td>80</td>
                </tr>
                <tr>
                    <td>Saúde e Segurança Ocupacional</td>
                    <td>2</td>
                    <td>40</td>
                </tr>
                <tr>
                    <td colspan="2"><strong>TOTAL DO SEMESTRE</strong></td>
                    <td>480</td>
                </tr>
            </tbody>
        </table>
        <p>&nbsp;</p>
        <table class="table grades" >
            <tbody>
            <tr>
            <th class="grade-periodo">4<sup>o</sup> PERÍODO</th>
            </tr>
            <tr class="GradeCurricular" align="center">
            <td width="250"><strong>DISCIPLINA</strong></td>
            <td width="75"><strong>CH SEMANAL</strong></td>
            <td width="75"><strong>CH SEMESTRAL</strong></td>
            </tr>
            <tr>
            <td>Análise Financeira</td>
            <td>2</td>
            <td>40</td>
            </tr>
            <tr>
            <td>Custos e Orçamentos no Agronegócios</td>
            <td>2</td>
            <td>40</td>
            </tr>
            <tr>
            <td>Planejamento Estratégico</td>
            <td>2</td>
            <td>40</td>
            </tr>
            <tr>
            <td>Inglês IV</td>
            <td>2</td>
            <td>40</td>
            </tr>
            <tr>
            <td>Noções de Direito</td>
            <td>2</td>
            <td>40</td>
            </tr>
            <tr>
            <td>Pesquisa Operacional</td>
            <td>4</td>
            <td>80</td>
            </tr>
            <tr>
            <td>Produção Agroindustrial II</td>
            <td>2</td>
            <td>40</td>
            </tr>
            <tr>
            <td>Projeto de Agronegócio I</td>
            <td>4 + 4 AAP</td>
            <td>160</td>
            </tr>
            <tr>
            <td colspan="2"><strong>TOTAL DO SEMESTRE</strong></td>
            <td>480</td>
            </tr>
            </tbody>
            </table>
        <p>&nbsp;</p>
        <table class="table grades" >
            <tbody>
            <tr>
            <th class="grade-periodo">5<sup>o</sup> PERÍODO</th>
            </tr>
            <tr class="GradeCurricular" align="center">
            <td width="250"><strong>DISCIPLINA</strong></td>
            <td width="75"><strong>CH SEMANAL</strong></td>
            <td width="75"><strong>CH SEMESTRAL</strong></td>
            </tr>
            <tr>
            <td>Comercialização</td>
            <td>4</td>
            <td>80</td>
            </tr>
            <tr>
            <td>Fundamentos de Gestão de Pessoas</td>
            <td>2</td>
            <td>40</td>
            </tr>
            <tr>
            <td>Gestão Ambiental</td>
            <td>2</td>
            <td>40</td>
            </tr>
            <tr>
            <td>Inglês V</td>
            <td>2</td>
            <td>40</td>
            </tr>
            <tr>
            <td>Logística no Agronegócio</td>
            <td>4</td>
            <td>80</td>
            </tr>
            <tr>
            <td>Projeto de Agronegócio II</td>
            <td>2 + 4 AAP</td>
            <td>120</td>
            </tr>
            <tr>
            <td>Sistemas de informação no Agronegócio</td>
            <td>2</td>
            <td>40</td>
            </tr>
            <tr>
            <td>Tópicos Avançados no Agronegócio(Eletiva)</td>
            <td>2</td>
            <td>40</td>
            </tr>
            <tr>
            <td colspan="2"><strong>TOTAL DO SEMESTRE</strong></td>
            <td>480</td>
            </tr>
            </tbody>
            </table>
        <p>&nbsp;</p>
        <table class="table grades" >
            <tbody>
            <tr>
            <th class="grade-periodo">6<sup>o</sup> PERÍODO</th>
            </tr>
            <tr class="GradeCurricular" align="center">
            <td width="250"><strong>DISCIPLINA</strong></td>
            <td width="75"><strong>CH SEMANAL</strong></td>
            <td width="75"><strong>CH SEMESTRAL</strong></td>
            </tr>
            <tr>
            <td>Arranjos Produtivos</td>
            <td>2</td>
            <td>40</td>
            </tr>
            <tr>
            <td>Comércio Internacional</td>
            <td>4</td>
            <td>80</td>
            </tr>
            <tr>
            <td>Inglês VI</td>
            <td>2</td>
            <td>40</td>
            </tr>
            <tr>
            <td>Projeto de Agronegócio III</td>
            <td>4 + 4 AAP</td>
            <td>160</td>
            </tr>
            <tr>
            <td>Biocombustíveis (Eletiva)</td>
            <td>2</td>
            <td>40</td>
            </tr>
            <tr>
            <td>Gerenciamento de Projetos (Eletiva)</td>
            <td>2</td>
            <td>40</td>
            </tr>
            <tr>
            <td>Agricultura Familiar (Eletiva)</td>
            <td>2</td>
            <td>40</td>
            </tr>
            <tr>
            <td>Tecnologias Florestais (Eletiva)</td>
            <td>2</td>
            <td>40</td>
            </tr>
            <tr>
            <td colspan="2"><strong>TOTAL DO SEMESTRE</strong></td>
            <td>480</td>
            </tr>
            </tbody>
        </table>
        <p>&nbsp;</p>
        <table class="table grades" >
            <tbody>
            <tr>
            <th class="grade-periodo">COMPONENTES CURRICULARES COMPLEMENTARES</th>
            </tr>
            <tr>
            <td>Estágio Curricular (a partir do 3<sup>o</sup> período)</td>
            <td width="75">240 horas</td>
            </tr>
            <tr>
            <td>Trabalho de Graduação (a partir do 5<sup>o</sup> período)</td>
            <td>160 horas</td>
            </tr>
            </tbody>
        </table>
        <br>
        <br>
        <br>
    </div>
</main>
<br>
{% endblock content%}