{% extends 'base/main.html'%}

{% block content %}
<br>
<main>
    <header class="entry-header">
        <h1 class="entry-title">Gestão Empresarial</h1>
        <div class="linha"></div>
    </header>
    <br>
    <div class="entry-content">
        <h2>Grade Curricular</h2>
        <table class="table grades">
            <tbody>
                  <tr>
                      <th class="grade-periodo">1<sup>o</sup> PERÍODO</th>
                  </tr>
                  <tr align="center">
                      <td width="250"><strong>DISCIPLINA</strong></td>
                      <td width="75"><strong>CH SEMANAL</strong></td>
                      <td width="75"><strong>CH SEMESTRAL</strong></td>
                  </tr>
                    <tr>
                      <td>Projeto Integrador em Gestão Empresarial I</td>
                      <td>4</td>
                      <td>80</td>
                    </tr>
                  <tr>
                    <td>Administração Geral</td>
                    <td>4</td>
                    <td>80</td>
                  </tr>
                  <tr>
                    <td>Comunicação e Expressão</td>
                    <td>4</td>
                    <td>80</td>
                  </tr>
                  <tr>
                    <td>Contabilidade</td>
                    <td>2</td>
                    <td>40</td>
                  </tr>
                  <tr>
                    <td>Informática Aplicada à Gestão</td>
                    <td>2</td>
                    <td>40</td>
                  </tr>
                  <tr>
                    <td>Inglês I</td>
                    <td>2</td>
                    <td>40</td>
                  </tr>
                  <tr>
                    <td>Matemática</td>
                    <td>4</td>
                    <td>80</td>
                  </tr>
                  <tr>
                    <td>Sociedade, Tecnologia e Inovação</td>
                    <td>2</td>
                    <td>40</td>
                  </tr>
                  <tr>
                    <td colspan="2">
                      <strong>TOTAL DO SEMESTRE</strong>
                    </td>
                    <td>480</td>
                  </tr>

            </tbody>
        </table>
        <p>&nbsp;</p>
        <table class="table grades">
            <tbody>
                  <tr>
                      <th class="grade-periodo">2<sup>o</sup> PERÍODO</th>
                  </tr>
                  <tr align="center">
                      <td width="250"><strong>DISCIPLINA</strong></td>
                      <td width="75"><strong>CH SEMANAL</strong></td>
                      <td width="75"><strong>CH SEMESTRAL</strong></td>
                  </tr>
                    <tr>
                      <td>Projeto Integrador em Gestão Empresarial II</td>
                      <td>4</td>
                      <td>80</td>
                    </tr>

                    <tr>
                      <td>Comportamento Organizacional</td>
                      <td>4</td>
                      <td>80</td>
                    </tr>
                    <tr>
                      <td>Estatística Aplicada à Gestão</td>
                      <td>4</td>
                      <td>80</td>
                    </tr>
                    <tr>
                      <td>Gestão Ambiental Empresarial</td>
                      <td>2</td>
                      <td>40</td>
                    </tr>
                    <tr>
                      <td>Economia</td>
                      <td>4</td>
                      <td>80</td>
                    </tr>
                    <tr>
                      <td>Inglês II</td>
                      <td>2</td>
                      <td>40</td>
                    </tr>
                    <tr>
                      <td>Métodos para a Produção do Conhecimento</td>
                      <td>2</td>
                      <td>40</td>
                    </tr>
                    <tr>
                      <td>Sociologia das Organizações</td>
                      <td>2</td>
                      <td>40</td>
                    </tr>
                    <tr>
                      <td colspan="2">
                        <strong>TOTAL DO SEMESTRE</strong>
                      </td>
                      <td>480</td>
                    </tr>
            </tbody>
        </table>
        <p>&nbsp;</p>
        <table class="table grades">
            <tbody>
                  <tr>
                      <th class="grade-periodo">3<sup>o</sup> PERÍODO</th>
                  </tr>
                  <tr align="center">
                      <td width="250"><strong>DISCIPLINA</strong></td>
                      <td width="75"><strong>CH SEMANAL</strong></td>
                      <td width="75"><strong>CH SEMESTRAL</strong></td>
                  </tr>
                    <tr>
                      <td>Projeto Integrador em Gestão Empresarial III</td>
                      <td>4</td>
                      <td>80</td>
                    </tr>
                    <tr>
                      <td>Gestão de Marketing</td>
                      <td>4</td>
                      <td>80</td>
                    </tr>
                    <tr>
                      <td>Gestão de Pessoas</td>
                      <td>4</td>
                      <td>80</td>
                    </tr>
                    <tr>
                      <td>Inglês III</td>
                      <td>2</td>
                      <td>40</td>
                    </tr>
                    <tr>
                      <td>Matemática Financeira</td>
                      <td>2</td>
                      <td>40</td>
                    </tr>
                    <tr>
                      <td>Organização, Sistemas e Métodos</td>
                      <td>4</td>
                      <td>80</td>
                    </tr>
                    <tr>
                      <td>Sistemas de Informação</td>
                      <td>4</td>
                      <td>80</td>
                    </tr>
                    <tr>
                      <td colspan="2">
                        <strong>TOTAL DO SEMESTRE</strong>
                      </td>
                      <td>480</td>
            </tbody>
        </table>
        <p>&nbsp;</p>
        <table class="table grades">
            <tbody>
                  <tr>
                      <th class="grade-periodo">4<sup>o</sup> PERÍODO</th>
                  </tr>
                  <tr align="center">
                      <td width="250"><strong>DISCIPLINA</strong></td>
                      <td width="75"><strong>CH SEMANAL</strong></td>
                      <td width="75"><strong>CH SEMESTRAL</strong></td>
                  </tr>
                    <tr>
                      <td>Projeto Integrador em Gestão Empresarial IV</td>
                      <td>4</td>
                      <td>80</td>
                    </tr>
                    <tr>
                      <td>Fundamentos de Comunicação Empresarial</td>
                      <td>2</td>
                      <td>40</td>
                    </tr>
                    <tr>
                      <td>Direito Empresarial</td>
                      <td>4</td>
                      <td>80</td>
                    </tr>
                    <tr>
                      <td>Gestão Financeira</td>
                      <td>4</td>
                      <td>80</td>
                    </tr>
                    <tr>
                      <td>Inglês IV</td>
                      <td>2</td>
                      <td>40</td>
                    </tr>
                    <tr>
                      <td>Logística</td>
                      <td>4</td>
                      <td>80</td>
                    </tr>
                    <tr>
                      <td>Planejamento de Marketing</td>
                      <td>4</td>
                      <td>80</td>
                    </tr>
                    <tr>
                      <td colspan="2">
                        <strong>TOTAL DO SEMESTRE</strong>
                      </td>
                      <td>480</td>
                    </tr>
            </tbody>
        </table>
        <p>&nbsp;</p>
        <table class="table grades">
            <tbody>
                  <tr>
                      <th class="grade-periodo">5<sup>o</sup> PERÍODO</th>
                  </tr>
                  <tr align="center">
                      <td width="250"><strong>DISCIPLINA</strong></td>
                      <td width="75"><strong>CH SEMANAL</strong></td>
                      <td width="75"><strong>CH SEMESTRAL</strong></td>
                  </tr>
                    <tr>
                      <td>Projeto Integrador em Gestão Empresarial V</td>
                      <td>4</td>
                      <td>80</td>
                    </tr>
                    <tr>
                      <td>Análise de Investimentos</td>
                      <td>4</td>
                      <td>80</td>
                    </tr>
                    <tr>
                      <td>Espanhol I</td>
                      <td>2</td>
                      <td>40</td>
                    </tr>
                    <tr>
                      <td>Gestão da Produção e Operações</td>
                      <td>4</td>
                      <td>80</td>
                    </tr>
                    <tr>
                      <td>Fundamentos da Gestão da Qualidade</td>
                      <td>2</td>
                      <td>40</td>
                    </tr>
                    <tr>
                      <td>Gestão de Projetos Empresariais</td>
                      <td>4</td>
                      <td>80</td>
                    </tr>
                    <tr>
                      <td>Inglês V</td>
                      <td>2</td>
                      <td>40</td>
                    </tr>
                    <tr>
                      <td>Projeto de Pesquisa na Gestão Empresarial</td>
                      <td>2</td>
                      <td>40</td>
                    </tr>
                    <tr>
                      <td colspan="2">
                        <strong>TOTAL DO SEMESTRE</strong>
                      </td>
                      <td>480</td>
                    </tr>
            </tbody>
        </table>
        <p>&nbsp;</p>
        <table class="table grades">
            <tbody>
                  <tr>
                      <th class="grade-periodo">6<sup>o</sup> PERÍODO</th>
                  </tr>
                  <tr align="center">
                      <td width="250"><strong>DISCIPLINA</strong></td>
                      <td width="75"><strong>CH SEMANAL</strong></td>
                      <td width="75"><strong>CH SEMESTRAL</strong></td>
                  </tr>
                    <tr>
                      <td>Projeto Integrador em Gestão Empresarial VI</td>
                      <td>4</td>
                      <td>80</td>
                    </tr>
                    <tr>
                     <td>Desenvolvimento de Negócios</td>
                      <td>4</td>
                      <td>80</td>
                    </tr>
                    <tr>
                      <td>Espanhol II</td>
                      <td>2</td>
                      <td>40</td>
                    </tr>
                    <tr>
                      <td>Inglês VI</td>
                      <td>2</td>
                      <td>40</td>
                    </tr>
                    <tr>
                      <td>Negócios Internacionais</td>
                      <td>4</td>
                      <td>80</td>
                    </tr>
                    <tr>
                      <td>Planejamento e Gestão Estratégica</td>
                      <td>4</td>
                      <td>80</td>
                    </tr>
                    <tr>
                      <td>Sistemas Integrados de Gestão</td>
                      <td>4</td>
                      <td>80</td>
                    </tr>
                    <tr>
                      <td colspan="2">
                        <strong>TOTAL DO SEMESTRE</strong>
                      </td>
                      <td>480</td>
                    </tr>
                  </tbod
            </tbody>
        </table>
        <p>&nbsp;</p>
        <table class="table grades" >
            <tbody>
            <tr>
            <th class="grade-periodo">COMPONENTES CURRICULARES COMPLEMENTARES</th>
            </tr>
            <tr>
            <td>Estágio Curricular (a partir do 3<sup>o</sup> período)</td>
            <td width="75">240 horas</td>
            </tr>
            <tr>
            <td>Trabalho de Graduação (a partir do 5<sup>o</sup> período)</td>
            <td>160 horas</td>
            </tr>
            </tbody>
        </table>

        <br>
        <br>
        <br>
</div>
</main>
<br>

{% endblock content%}
  <tr>
    <td>Administração</td>
    <td>4</td>
    <td>80</td>
  </tr>
  <tr>
    <td>Comunicação e Expressão</td>
    <td>4</td>
    <td>80</td>
  </tr>
  <tr>
    <td>Contabilidade</td>
    <td>2</td>
    <td>40</td>
  </tr>
  <tr>
    <td>Informática Aplicada à Gestão</td>
    <td>2 + 2 AAP</td>
    <td>40</td>
  </tr>
  <tr>
    <td>Inglês I</td>
    <td>2</td>
    <td>40</td>
  </tr>
  <tr>
    <td>Matemática</td>
    <td>4</td>
    <td>80</td>
  </tr>
  <tr>
    <td>Sociedade, Tecnologia e Inovação</td>
    <td>2</td>
    <td>40</td>
  </tr>
  <tr>
    <td>Atividades Acadêmico-Científico-Culturais I</td>
    <td>2</td>
    <td>40</td>
  </tr>
  <tr>
    <td colspan="2">
      <strong>TOTAL DO SEMESTRE</strong>
    </td>
    <td>480</td>
  </tr>