{% extends 'base/main.html'%}

{% block content %}
<br>
<main>
    <header class="entry-header">
        <h1 class="entry-title">Gestão da Tecnologia da Informação</h1>
    </header>
    <br>
        <div class="entry-content">
                <h2>Grade Curricular</h2>
                <table class="table grades">
                    <tbody>
                          <tr>
                              <th class="grade-periodo">1<sup>o</sup> PERÍODO</th>
                          </tr>
                          <tr align="center">
                              <td width="250"><strong>DISCIPLINA</strong></td>
                              <td width="75"><strong>CH SEMANAL</strong></td>
                              <td width="75"><strong>CH SEMESTRAL</strong></td>
                          </tr>
                           <tr>
                              <td>Algoritmos</td>
                              <td>4</td>
                              <td>80</td>
                            </tr>
                            <tr>
                              <td>Atividades Acadêmico-Científico-Culturais I</td>
                              <td>2</td>
                              <td>40</td>
                            </tr>
                            <tr>
                              <td>Comunicação e Expressão</td>
                              <td>4</td>
                              <td>80</td>
                            </tr>
                            <tr>
                              <td>Fundamentos de Tecnologia da Informação</td>
                              <td>2</td>
                              <td>40</td>
                            </tr>
                            <tr>
                              <td>Inglês I</td>
                              <td>2</td>
                              <td>40</td>
                            </tr>
                            <tr>
                              <td>Matemática Discreta</td>
                              <td>4</td>
                              <td>80</td>
                            </tr>
                            <tr>
                              <td>Processos Gerenciais</td>
                              <td>4</td>
                              <td>80</td>
                            </tr>
                            <tr>
                              <td colspan="2">
                                <strong>TOTAL DO SEMESTRE</strong>
                              </td>
                              <td>480</td>
                            </tr>
                    </tbody>
                </table>
                <p>&nbsp;</p>
                <table class="table grades">
                    <tbody>
                          <tr>
                              <th class="grade-periodo">2<sup>o</sup> PERÍODO</th>
                          </tr>
                          <tr align="center">
                              <td width="250"><strong>DISCIPLINA</strong></td>
                              <td width="75"><strong>CH SEMANAL</strong></td>
                              <td width="75"><strong>CH SEMESTRAL</strong></td>
                          </tr>
                            <tr>
                              <td>Gestão de Sistemas Operacionais</td>
                              <td>4</td>
                              <td>80</td>
                            </tr>
                            <tr>
                              <td>Inglês II</td>
                              <td>2</td>
                              <td>40</td>
                            </tr>
                            <tr>
                              <td>Laboratório de Hardware</td>
                              <td>2</td>
                              <td>40</td>
                            </tr>
                            <tr>
                              <td>Linguagens de Programação</td>
                              <td>4</td>
                              <td>80</td>
                            </tr>
                            <tr>
                              <td>Matemática Financeira</td>
                              <td>2</td>
                              <td>40</td>
                            </tr>
                            <tr>
                              <td>Metodologia da Pesquisa Científico-Tecnológica</td>
                              <td>2</td>
                              <td>40</td>
                            </tr>
                            <tr>
                              <td>Modelagem de Processos</td>
                              <td>4 + 4 AAP</td>
                              <td>160</td>
                            </tr>
                            <tr>
                              <td>Atividades acadêmico-Científico-Culturais II</td>
                              <td>2</td>
                              <td>40</td>
                            </tr>
                            <tr>
                              <td colspan="2">
                                <strong>TOTAL DO SEMESTRE</strong>
                              </td>
                              <td>480</td>
                            </tr>

                    </tbody>
                </table>
                <p>&nbsp;</p>
                <table class="table grades">
                    <tbody>
                          <tr>
                              <th class="grade-periodo">3<sup>o</sup> PERÍODO</th>
                          </tr>
                          <tr align="center">
                              <td width="250"><strong>DISCIPLINA</strong></td>
                              <td width="75"><strong>CH SEMANAL</strong></td>
                              <td width="75"><strong>CH SEMESTRAL</strong></td>
                          </tr>
                            <tr>
                              <td>Banco de Dados e Aplicações</td>
                              <td>4 + 2 AAP</td>
                              <td>120</td>
                            </tr>
                            <tr>
                              <td>Contabilidade</td>
                              <td>2</td>
                              <td>40</td>
                            </tr>
                            <tr>
                              <td>Engenharia de Software e Aplicações</td>
                              <td>4 + 2 AAP</td>
                              <td>120</td>
                            </tr>
                            <tr>
                              <td>Estatística Básica</td>
                              <td>2</td>
                              <td>40</td>
                            </tr>
                            <tr>
                              <td>Gestão Ambiental</td>
                              <td>2</td>
                              <td>40</td>
                            </tr>
                            <tr>
                              <td>Gestão de Pessoas</td>
                              <td>4</td>
                              <td>80</td>
                            </tr>
                            <tr>
                              <td>Inglês III</td>
                              <td>2</td>
                              <td>40</td>
                            </tr>
                            <tr>
                              <td colspan="2">
                                <strong>TOTAL DO SEMESTRE</strong>
                              </td>
                              <td>480</td>
                            </tr>
                    </tbody>
                </table>
                <p>&nbsp;</p>
                <table class="table grades">
                    <tbody>
                          <tr>
                              <th class="grade-periodo">4<sup>o</sup> PERÍODO</th>
                          </tr>
                          <tr align="center">
                              <td width="250"><strong>DISCIPLINA</strong></td>
                              <td width="75"><strong>CH SEMANAL</strong></td>
                              <td width="75"><strong>CH SEMESTRAL</strong></td>
                          </tr>
                            <tr>
                              <td>Fundamentos de Marketing</td>
                              <td>2</td>
                              <td>40</td>
                            </tr>
                            <tr>
                              <td>Gestão da Produção</td>
                              <td>4</td>
                              <td>80</td>
                            </tr>
                            <tr>
                              <td>Gestão Financeira</td>
                              <td>4</td>
                              <td>80</td>
                            </tr>
                            <tr>
                              <td>Inglês IV</td>
                              <td>2</td>
                              <td>40</td>
                            </tr>
                            <tr>
                              <td>Programação para Internet</td>
                              <td>4 + 4 AAP</td>
                              <td>160</td>
                            </tr>
                            <tr>
                              <td>Redes de Computadores</td>
                              <td>4</td>
                              <td>80</td>
                            </tr>
                            <tr>
                              <td colspan="2">
                                <strong>TOTAL DO SEMESTRE</strong>
                              </td>
                              <td>480</td>
                            </tr>
                    </tbody>
                </table>
                <p>&nbsp;</p>
                <table class="table grades">
                    <tbody>
                          <tr>
                              <th class="grade-periodo">5<sup>o</sup> PERÍODO</th>
                          </tr>
                          <tr align="center">
                              <td width="250"><strong>DISCIPLINA</strong></td>
                              <td width="75"><strong>CH SEMANAL</strong></td>
                              <td width="75"><strong>CH SEMESTRAL</strong></td>
                          </tr>
                            <tr>
                              <td>Gestão de Projetos</td>
                              <td>4</td>
                              <td>80</td>
                            </tr>
                            <tr>
                              <td>Gestão de Tecnologia da Informação</td>
                              <td>4</td>
                              <td>80</td>
                            </tr>
                            <tr>
                              <td>Inglês V</td>
                              <td>2</td>
                              <td>40</td>
                            </tr>
                            <tr>
                              <td>Planejamento e Gestão Estratégica</td>
                              <td>4</td>
                              <td>80</td>
                            </tr>
                            <tr>
                              <td>Projetos de Tecnologia da Informação I</td>
                              <td>2</td>
                              <td>40</td>
                            </tr>
                            <tr>
                              <td>Sistemas Integrados de Gestão e Aplicações</td>
                              <td>4 + 4 AAP</td>
                              <td>160</td>
                            </tr>
                            <tr>
                              <td colspan="2">
                                <strong>TOTAL DO SEMESTRE</strong>
                              </td>
                              <td>480</td>
                            </tr>
                    </tbody>
                </table>
                <p>&nbsp;</p>
                <table class="table grades">
                    <tbody>
                          <tr>
                              <th class="grade-periodo">6<sup>o</sup> PERÍODO</th>
                          </tr>
                          <tr align="center">
                              <td width="250"><strong>DISCIPLINA</strong></td>
                              <td width="75"><strong>CH SEMANAL</strong></td>
                              <td width="75"><strong>CH SEMESTRAL</strong></td>
                          </tr>
                            <tr>
                              <td>Gestão Econômica</td>
                              <td>4</td>
                              <td>80</td>
                            </tr>
                            <tr>
                              <td>Inglês VI</td>
                              <td>2</td>
                              <td>40</td>
                            </tr>
                            <tr>
                              <td>Inteligência de Negócios</td>
                              <td>4</td>
                              <td>80</td>
                            </tr>
                            <tr>
                              <td>Legislação Aplicada a Tecnologia da Informação</td>
                              <td>2</td>
                              <td>40</td>
                            </tr>
                            <tr>
                              <td>Negócios Eletrônicos</td>
                              <td>2</td>
                              <td>40</td>
                            </tr>
                            <tr>
                              <td>Projetos de Tecnologia da Informação II</td>
                              <td>2 + AAP</td>
                              <td>120</td>
                            </tr>
                            <tr>
                              <td>Tópicos Avançados em Tecnologia da Informação</td>
                              <td>4</td>
                              <td>80</td>
                            </tr>
                            <tr>
                              <td colspan="2">
                                <strong>TOTAL DO SEMESTRE</strong>
                              </td>
                              <td>480</td>
                            </tr>
                    </tbody>
                </table>
                <p>&nbsp;</p>
                <table class="table grades" >
                    <tbody>
                    <tr>
                    <th class="grade-periodo">COMPONENTES CURRICULARES COMPLEMENTARES</th>
                    </tr>
                    <tr>
                    <td>Estágio Curricular (a partir do 3<sup>o</sup> período)</td>
                    <td width="75">240 horas</td>
                    </tr>
                    <tr>
                    <td>Trabalho de Graduação (a partir do 5<sup>o</sup> período)</td>
                    <td>160 horas</td>
                    </tr>
                    </tbody>
                </table>

                <br>
                <br>
                <br>
        </div>
    </main>
    <br>
{% endblock content%}


   <tr>
      <td>Algoritmos</td>
      <td>4</td>
      <td>80</td>
    </tr>
    <tr>
      <td>Atividades Acadêmico-Científico-Culturais I</td>
      <td>2</td>
      <td>40</td>
    </tr>
    <tr>
      <td>Comunicação e Expressão</td>
      <td>4</td>
      <td>80</td>
    </tr>
    <tr>
      <td>Fundamentos de Tecnologia da Informação</td>
      <td>2</td>
      <td>40</td>
    </tr>
    <tr>
      <td>Inglês I</td>
      <td>2</td>
      <td>40</td>
    </tr>
    <tr>
      <td>Matemática Discreta</td>
      <td>4</td>
      <td>80</td>
    </tr>
    <tr>
      <td>Processos Gerenciais</td>
      <td>4</td>
      <td>80</td>
    </tr>
    <tr>
      <td colspan="2">
        <strong>TOTAL DO SEMESTRE</strong>
      </td>
      <td>480</td>
    </tr>