{% load static %}
	<br>
	<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
		<div class="carousel-inner" >
	  <div class="carousel-item active">
		<a href="{% url 'cursos' 'agro'%}">
			<img class="d-block w-50" src="{% static '/imagens/slider/agro.png' %}" alt="Curso Agronegócios" >
		</a>
	  </div>
	  <div class="carousel-item">
		<a href="{% url 'cursos' 'ads'%}">
			<img class="d-block w-50" src="{% static '/imagens/slider/ads.png' %}" alt="Curso ADS">
		</a>
	  </div>
	  <div class="carousel-item">
		<a href="{% url 'cursos' 'si'%}">
			<img class="d-block w-50" src="{% static '/imagens/slider/si.png' %}" alt="Curso Sist.Internet" >
		</a>
	  </div>
	  <div class="carousel-item">
	 	<a href="{% url 'cursos' 'ads_ams'%}">
		  	<img class="d-block w-50" src="{% static '/imagens/slider/ads_ams.png' %}" alt="Curso ADS-AMS">
	 	</a>
	  </div>
	  <div class="carousel-item">
		<a href="{% url 'cursos' 'ge'%}">
			<img class="d-block w-50" src="{% static '/imagens/slider/ge.png' %}" alt="Curso GE" >
		</a>
	  </div>
	  <div class="carousel-item">
		<a href="{% url 'cursos' 'grh'%}">
			<img class="d-block w-50" src="{% static '/imagens/slider/grh.png' %}" alt="Curso GRH">
		</a>
	  </div>
	</div>
		<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
  	  <span class="carousel-control-prev-icon" aria-hidden="true"><i class="fa-solid fa-arrow-left" ></i></span>
	  <span class="sr-only">Previous</span>
	</a>
		<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
	  <span class="carousel-control-next-icon" aria-hidden="true"><i class="fa-solid fa-arrow-right"></i></span>
	  <span class="sr-only">Next</span>
	</a>
  	</div>
	<br><br>
	<div class="row container">
		<div class="col-sm-10">
			<h2 class="texto">Cursos Superiores</h2>
			<div class="linha">
			</div>
		</div>
	</div>
	<br>
	<div class="row container">
	  <div class="cards">
		<a href="{% url 'cursos' 'agro'%}" class='card-link'>
		  <div class="card card-courses w-90">
			<div class="card-body">
				<img src="{% static '/imagens/cursos/agro_logo.png' %}"/>
				<br><br>
				<h5 class="card-text">Agronegócio</h5>
			</div>
		</div>
		</a>
	  </div>
	  <div class="cards">
		<a href="{% url 'cursos' 'ads'%}" class='card-link'>
			<div class="card card-courses w-90">
				<div class="card-body">
					<img src="{% static '/imagens/cursos/ads_logo.png' %}"/>
					<h5 class="card-text">Análise e Desenvolvimento de Sistemas</h5>
				</div>
			</div>
		</a>
	  </div>
	  <div class="cards">
		<a href="{% url 'cursos' 'ads'%}" class='card-link'>
			<div class="card card-courses w-90">
				<div class="card-body">
					<img src="{% static '/imagens/cursos/ads_logo_ams.png' %}"/>
					<h5 class="card-text">Análise e Desenvolvimento de Sistemas<br>(AMS)</h5>
				</div>
			</div>
		</a>
	  </div>

	  <div class="cards">
		<a href="{% url 'cursos' 'gti'%}" class='card-link'>
		  <div class="card card-courses w-90">
				<div class="card-body">
					<img src="{% static '/imagens/cursos/tsi_logo.png' %}"/>
					<br><br>
					<h5 class="card-text">Sistemas para Internet</h5>
				</div>
			</div>
		</a>
	  </div>
	  <div class="cards">
		<a href="{% url 'cursos' 'ge'%}" class='card-link'>
		  <div class="card card-courses w-90">
				<div class="card-body">
					<img src="{% static '/imagens/cursos/gestao_logo.jpg' %}"/>
					<br><br>
					<h5 class="card-text">Gestão Empresarial</h5>
				</div>
			</div>
		</a>
	  </div>
	  <div class="cards">
		<a href="{% url 'cursos' 'ge'%}" class='card-link'>
		  <div class="card card-courses w-90">
				<div class="card-body">
					<img src="{% static '/imagens/cursos/gestao_logo.jpg' %}"/>
					<br>
					<br>
					<h5 class="card-text">Gestão Empresarial<br>(EAD)</h5>
				</div>
			</div>
		</a>
	  </div>
	  <div class="cards">
		<a href="{% url 'cursos' 'grh'%}" class='card-link'>
		  <div class="card card-courses w-90">
				<div class="card-body">
					<img src="{% static 'imagens/cursos/grh_logo.jpg' %}"/>
					<br>
					<h5 class="card-text">Gestão de Recursos Humanos</h5>
				</div>
			</div>
		</a>
	  </div>
	</div>
	<br>
	<br>
	<br>
	<br>
	<div class="row container">
		<div class="col-sm-10">
			<h2 class="texto">Últimas Notícias</h2>
			<div class="linha"><br><br><br></div>
		</div>
	</div>
	<br>
	<div class="row container">
		<div class="card card-news" style="margin-top:10px;width:70%;">
				<div class="card-body">
					{% if news is not None%}
				    <div class="entry-content">
				      <table id="tabela" class="table table-hover text-wrap no-border">
						<thead>
							<tr style="display:none;">
								  <th>Imagem</th>
								  <th>Descrição</th>
							</tr>
        				</thead>
						{% for n in news %}
						<tr>
							<td style="margin-left:0px;">
								<div class="card img-news">
									<img src="media/{{n.capa}}">
								</div>
							</td>
							<td>
								<a href="{% url 'news_show' n.id %}" class="text-news">{{n.titulo}}</a>
								<br>
								<br>
								<i class="fa-solid fa-calendar-days calendar-news">&nbsp;{{n.data_publicacao}}</i>
							</td>
						</tr>
						{% endfor %}
					   </table>
					</div>
					{% else %}
					<h3>Nenhuma Notícia</h3>
					{% endif %}
				</div>
		  </div>
	 </div>
	<br>
	<br>
	<div class="container">
		<div class="col-sm-10">
			<h2 class="texto">Vestibular</h2>
			<div class="linha">
				<br><br><br><br><br>
			</div>
		</div>
	</div>
	<br/>
	<div class="row container">
		<div class="card card-news vestibular" style="">
			<div class="card-body text-center">
				<img src="{% static '/imagens/institucional/vestibular_2_2024.png' %}"/>
				<br><br>
				<h3 class="blink"><a href="{% url 'institucional' 'vestibular' %}" style="color:white;">Inscrições Abertas <br/>Vestibular 2º Semestre de 2024</a></h3>
			</div>
		</div>
	</div>
	<br>




