{% load static%}
<footer id="rodape">
	<div class="row">
		<div class="col-sm3">
			<p>Faculdade de Tecnologia de Mococa</p>
			<p>Avenida Dr. Américo Pereira Lima, s/n</p>
			<p>Jardim Lavínia</p>
			<p>Mococa, SP</p>
			<p>13736-260</p>
			<p>Tel: (19) 3656-5559</p>
			<img src="{% static 'imagens/institucional/qrcode.jpg' %}" width="50%" height="50%" class="flex">
		</div>
		<div class="col-sm3">
			<div id="mapa" class="flex">
				<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3712.625674948554!2d-47.0104519!3d-21.4831994!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94b7b8431edd2f97%3A0xb0e4adedbaa2653!2sFatec%20Mococa!5e0!3m2!1spt-BR!2sbr!4v1684424700116!5m2!1spt-BR!2sbr" width="400" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
			</div>
		</div>
	</div>
  </footer>