{% load static%}
<footer id="rodape">
	<div class="row">
		<div class="col-sm">
			<p>Faculdade de Tecnologia de Mococa</p>
			<p>Avenida Dr. Américo Pereira Lima, s/n</p>
			<p>Jardim Lavínia</p>
			<p>Mococa, SP</p>
			<p>13736-260</p>
			<p>Tel: (19) 3656-5559</p>

		</div>
		<div class="col-sm">
			<p>Redes Sociais</p>
		</div>
		<div class="col-sm">
			<div class="flex">
				<img src="{% static 'imagens/institucional/banner_qrcode.png' %}" id="emec">
				<img src="{% static 'imagens/institucional/qrcode.jpg' %}" id="emecqrcode" >
			</div>
		</div>
	</div>

  </footer>