{% load static%}
<footer id="rodape" >
	<div class="row" >
		<div class="col-sm">
			<p>Redes Sociais</p>
		</div>
		<div class="col-sm">
			<div class="flex">
				<img src="{% static 'imagens/institucional/banner_qrcode.png' %}" id="emec">
				<img src="{% static 'imagens/institucional/qrcode.jpg' %}" id="emecqrcode" >
			</div>
		</div>
		<div class="col-sm logos" >
			<div class="flex">
				<img src="{% static 'imagens/institucional/cps_logo.png' %}">

			</div>
		</div>
		<div class="col-sm-2 flex logos" id="logosp" >
			<br>
			<div>
				<img src="{% static 'imagens/institucional/gov-estado.png' %}">
			</div>
			<br>
		</div>

	</div>
	<div id="logofatec">
		<br>
		<p style="display:inline;color:white;">|&nbsp; Instituição: Faculdade de Tecnologia de Mococa <em>"Mário Robertson de Sylos Filho" &nbsp;</em></p>
		<p style="display:inline;color:white;">|&nbsp; Tema: Equipe Fatec Mococa </p>
		<p style="display:inline;color:white;">|&nbsp; Tel: (19) 3656-5559</p>
		<br>
		<br>
	</div>

  </footer>


