<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% load static %}
	<title>Faculdade de Tecnologia de Mococa</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="{% static '/css/estilo.css' %}">
	<link rel="stylesheet" href="{% static '/css/awesome/css/all.css' %}">
</head>
<body>
{% block body %}
    {% include 'base/header.html' %}
    {% block content %}

    {% endblock content%}
    {% block footer %}
        {% include 'base/footer.html' %}
    {% endblock footer%}
{% endblock body %}
{% include 'base/scripts.html' %}
</body>
</html>