{% extends 'base/main.html'%}

{% block content %}
  <br>
  <main>
    <header class="entry-header">
      <h1 class="entry-title">Notícias</h1>
      <div class="linha"></div>
    </header>
    <br>
    <div class="entry-content">
      <table id="tabela" class="table table-hover text-nowrap">
        <thead>
        <tr>
          <th>Título</th>
          <th>Descrição</th>
          <th>Anexos</th>
          <th>Imagem</th>
          <th>Ações</th>
        </tr>
        </thead>

        <tbody>
          {% for n in news %}
          <tr>
            <td>{{c.titulo}}</td>
            <td>{{c.descricao}}</td>
            <td>{{c.anexos}}</td>
            <td>{{c.imagem}}</td>
            <td>
              <button name="del" id="del" class="btn btn-danger"><i class="fas fa-eraser"></i></button>
              <button name="edit" id="edit" class="btn btn-success "><i class="fas fa-pencil-alt"></i></button>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <br>
    </div>
  </main>
  <br>
  <br>
  <br>

{% endblock content%}

