{% extends 'base/main.html'%}
{% block content %}

  <br>
  <main>
    <header class="entry-header">
      <h1 class="entry-title">Notícia</h1>
      <div class="linha"></div>
    </header>
    <br>
    <div class="news-content">
      <h2>{{news.titulo}}</h2>
      <br>
      <br>
      {{ news.descricao|safe }}
      <br>
      <br>
      <br>
      <br>
      <br>
      <h5>Publicado em: {{news.data_publicacao}}</h5>
      <br>
      <br>
      <br>
    </div>

  </main>
  <br>
  <br>
  <br>
{% endblock content%}

