{% extends 'base/main.html'%}

{% block content %}
  <br>
  <main>
    <header class="entry-header">
      <h1 class="entry-title">CEPE</h1>
      <div class="linha"></div>
    </header>
    <br>
    <div class="entry-content">
      <p><strong>Membros:</strong></p>
      <table>
        <tr>
          <td class="has-text-align-left" data-align="left">Profa. Ms. Bianca Agarie</td>
        </tr>
        <tr>
          <td class="has-text-align-left" data-align="left">Prof. Dr. Gilberto Brandão Marcon</td>
        </tr>
        <tr>
          <td class="has-text-align-left" data-align="left">Prof. Dr. Ieoschua Katz</td>
        </tr>
        <tr>
          <td class="has-text-align-left" data-align="left">Prof. Dr. Jean Miler Scatena</td>
        </tr>
        <tr>
          <td class="has-text-align-left" data-align="left">Prof. Dr. Marcelo Micke Doti</td>
        </tr>
        <tr>
          <td class="has-text-align-left" data-align="left">Profa. Dra. Odila Rigolin de Sá</td>
        </tr>
        <tr>
          <td class="has-text-align-left" data-align="left">Prof. Ms. Renato de Oliveira Violin</td>
        </tr>
        <tr>
          <td class="has-text-align-left" data-align="left">Profa. Dra. Sandra Cristina Costa Prado</td>
        </tr>
      </table>
      <br>
      <p><strong>Reuniões da CEPE no 1º Sem de 2021: </strong></p>
      <ul><li>23/02/2021</li><li>15/04/2021</li><li>25/06/2021</li></ul>
      <br>
    </div>
  </main>
  <br>
{% endblock content%}