{% extends 'base/main.html'%}

{% block content %}
  <br>
  <main>
    <header class="entry-header">
      <h1 class="entry-title">CEPE</h1>
      <div class="linha"></div>
    </header>
    <br>
    <div class="entry-content">
      <p><strong>Membros:</strong></p>
      <table class="table">
        <tr class="table-primary">
          <td><div style="text-align:right;">(Presidente)</div>
              Profa. Dra. Mirina Luiza Myczkowski Gomes; RG: MG 28.073.743-9
              <br>
              Curso Superior de Tecnologia em Agronegócio
          </td>
        </tr>
        <tr>
          <td><div style="text-align:right;">(Vice-presidente)</div>
              Prof. Dr. José Eduardo Zaia; RG: 15.689.612-6
              <br>
              Curso Superior de Tecnologia em Gestão da Tecnologia da Informação
          </td>
        </tr>
        <tr class="table-primary">
          <td>
              Prof. Dr. Darlan Marcelo Delgado; RG:30.476.986-1
              <br>
              Curso Superior de Tecnologia em Gestão Empresarial
          </td>
        </tr>
        <tr>
          <td>
              Prof. Dr. Washington Moreira Braga, RG: 10.655.383
              <br>
              Curso Superior de Tecnologia em Análise e Desenvolvimento de Sistemas
          </td>
        </tr>
        <tr class="table-primary">
          <td>
              Prof. Dr. Claudionei Nalle Júnior RG: 20.100.144-5
              <br>
              Curso Superior de Tecnologia em Gestão Empresarial
          </td>
        </tr>
        <tr>
          <td>
              Prof. Dr. Avelino Palma Pimenta Júnior; RG:22.440.799
              <br>
              Curso Superior de Tecnologia em Gestão da Tecnologia da Informação
          </td>
        </tr>
        <tr class="table-primary">
          <td>
              Prof. Dr. Jean Miler Scatena; RG:24.172.598-7
              <br>
              Curso Superior de Tecnologia em Análise e Desenvolvimento de Sistemas
          </td>
        </tr>
        <tr>
          <td>
              Profa. Dra. Odila Ringolin de Sá; RG: MG 14.453.918
              <br>
              Curso Superior de Tecnologia em Agronegócio
          </td>
        </tr>
      </table>
      <br>
      <br>
    </div>
  </main>
  <br>
{% endblock content%}