{% extends 'base/main.html'%}

{% block content %}
<br>
<main>
  <header class="entry-header">
    <h1 class="entry-title">Congregação</h1>
    <div class="linha"></div>
  </header>
  <br>
  <div class="entry-content">
    <p>A Congregação é o órgão colegiado de supervisão das atividades acadêmico-administrativas, do ensino, da pesquisa e da extensão de serviços à comunidade, obedecidas as diretrizes gerais da política educacional do Ceeteps, e tem a seguinte constituição:</p>
    <ol type="I">
      <li>Diretor, seu Presidente nato;</li>
      <li>Vice-Diretor, membro nato, quando houver;</li>
      <li>Chefes de Departamentos ou Coordenadores de Cursos, membros natos;</li>
      <li>Até 5 (cinco) Professores de Ensino Superior – Referência III;</li>
      <li>Até 3 (três) Professores de Ensino Superior – Referência II;</li>
      <li>Até 2 (dois) Professores de Ensino Superior – Referência I;</li>
      <li>Representante(s) do corpo técnico administrativo, até 15% do total dos membros;</li>
      <li>Representante(s) discentes, até 15% do total dos membros;</li>
      <li>1 (um) representante da comunidade externa.</li>
    </ol>
    <p><a href="https://www.fatecmococa.edu.br/?page_id=221">Clique aqui</a> para ver a lista completa de atribuições da congregação.</p>
    <p><strong>COMPOSIÇÃO DA CONGREGAÇÃO – PERÍODO 2020/2022</strong></p>
    <ul>
      <li><strong>Presidente:</strong></li>
    </ul>
    <p style="padding-left: 60px;">Prof. Dr. Adriano Dias de Carvalho (Diretor da Unidade)</p>
    <ul>
     <li><strong>Membros da Coordenadoria de Cursos:</strong></li>
    </ul>
    <div style="padding:0 0 0px 40px;">Profa. Ma. Sílvia Regina Martinez de Mello Lipi (Coordenador de Gestão Empresarial)</div>
    <div style="padding:0 0 0px 40px;">Prof. Ms. Lucas de Oliveira Gomes (Coordenadora de Agronegócio)</div>
    <div style="padding:0 0 0px 40px;">Prof. Ms. Tarcísio Jorge Bezerra (Coordenador de Análise e Desenvolvimento de Sistemas)</div>
    <div style="padding:0 0 0px 40px;">Prof. Ms. Luis Marcelo Bortolotti (Coordenador de Gestão da Tecnologia da Informação)</div>
    <div style="padding:0 0 0px 40px;">Prof. Dr. Claudionei Nalle Júnior (Coordenador de Gestão da Recursos Humanos)</div>
    <div style="padding:0 0 0px 40px;">Profa. Ma. Jaciara Silva Carosia (Coordenadora do Curso AMS - Análise e Desenvolvimento de Sistemas</div>
    <br>
    <ul>
      <li><strong>Professores de Ensino Superior Referência III:</strong></li>
    </ul>
    <div>
      <div style="padding-left: 40px;">Prof. Dr. João Vieira Monteiro</div>
      <div style="padding-left: 40px;">Profa. Dra. Juliana Gisele da Silva Nalle</div>
      <div style="padding-left: 40px;">Prof. Dr. Marcelo Micke Doti</div>
      <div style="padding-left: 40px;">Prof. Dr. Darlan Marcelo Delgado</div>
      <div style="padding-left: 40px;">Profa. Dra. Odila Rigolin de Sá</div>

    </div>
    <br>
    <ul>
      <li><strong>Professores de Ensino Superior Referência II:</strong></li>
    </ul>
    <div style="padding-left: 40px;">Prof. Ms. Menotti Borri</div>
    <div style="padding-left: 40px;">Profa. Ma. Maria Betânia Darcie Pessoa Delgado</div>
    <br>
    <ul>
      <li><strong>Professor de Ensino Superior Referência I:</strong></li>
    </ul>
    <div style="padding-left: 40px;">Prof. Ms. Guilherme Henrique de Souza</div>
    <div style="padding-left: 40px;">Prof. Ms. Marcos Celeste</div>
    <br>
    <ul>
    <li><strong>Representantes Técnico Administrativo:</strong></li>
    </ul>
    <div style="padding-left: 40px;">Gilsimara da Silva Rodrigues (Titular)</div>
    <div style="padding-left: 40px;">Rodrigo Luiz Pereira (Suplente)</div>
    <br>
    <ul>
      <li><strong>Representante Discente:</strong></li>
    </ul>
    <div style="padding-left: 40px;">Miriam Raquel de Sylos (Titular)</div>
    <br>
    <ul>
      <li><strong>Representante Comunidade Externa:</strong></li>
    </ul>
    <br>
    <br>
    <br>
  </div>
</main>
<br>
{% endblock content%}