{% extends 'base/main.html'%}

{% block content %}
<br>
<main>
  <header class="entry-header">
    <h1 class="entry-title">Congregação</h1>
    <div class="linha"></div>
  </header>
  <br>
  <div class="entry-content">
    <p>A Congregação é o órgão colegiado de supervisão das atividades acadêmico-administrativas, do ensino, da pesquisa e da extensão de serviços à comunidade, obedecidas as diretrizes gerais da política educacional do Ceeteps, e tem a seguinte constituição:</p>
    <ol type="I">
    <li>Diretor, seu Presidente nato;</li>
    <li>Vice-Diretor, membro nato, quando houver;</li>
    <li>Chefes de Departamentos ou Coordenadores de Cursos, membros natos;</li>
    <li>Até 5 (cinco) Professores de Ensino Superior – Referência III;</li>
    <li>Até 3 (três) Professores de Ensino Superior – Referência II;</li>
    <li>Até 2 (dois) Professores de Ensino Superior – Referência I;</li>
    <li>Representante(s) do corpo técnico administrativo, até 15% do total dos membros;</li>
    <li>Representante(s) discentes, até 15% do total dos membros;</li>
    <li>1 (um) representante da comunidade externa.</li>
    </ol>
    <p><a href="https://www.fatecmococa.edu.br/?page_id=221">Clique aqui</a> para ver a lista completa de atribuições da congregação.</p>
    <p><strong>COMPOSIÇÃO DA CONGREGAÇÃO – PERÍODO 2020/2022</strong></p>
    <ul>
    <li><strong>Presidente:</strong></li>
    </ul>
    <p style="padding-left: 60px;">Profa. Dra. Fabiana Maria Martins Gomes de Castro (Diretora da Unidade)</p>
    <ul>
    <li><strong>Membros da Coordenadoria de Cursos:</strong></li>
    </ul>
    <p style="padding-left: 60px;">Prof. Dr. Adriano Dias de Carvalho (Coordenador de Gestão Empresarial)</p>
    <p style="padding-left: 60px;">Profa. Ma. Sílvia Regina Martinez de Mello Lipi (Coordenadora de Agronegócio)</p>
    <p style="padding-left: 60px;">Prof. Me. Luis Marcelo Bortolotti (Coordenador de Análise e Desenvolvimento de Sistemas</p>
    <p style="padding-left: 60px;">Prof. Dr. José Eduardo Zaia (Coordenador de Gestão da Tecnologia da Informação)</p>
    <ul>
    <li><strong>Professores de Ensino Superior Referência III:</strong></li>
    </ul>
    <div>
    <div style="padding-left: 40px;">Prof. Dr. Ieoschua Katz</div>
    <div style="padding-left: 40px;">Prof. Dr. João Vieira Monteiro</div>
    <div style="padding-left: 40px;">Prof. Dra. Mirina Luiza Myczkowski Gomes</div>
    <div style="padding-left: 40px;">Prof. Dra. Sandra Cristina Costa Prado</div>
    </div>
    <ul>
    <li><strong>Professores de Ensino Superior Referência II:</strong></li>
    </ul>
    <div style="padding-left: 40px;">Profa. Ma. Jaciara Silva Carosia</div>
    <div style="padding-left: 40px;">Profa. Dra. Juliana Gisele da Silva Nalle</div>
    <div style="padding-left: 40px;">Prof. Me. Lucas de Oliveira Gomes</div>
    <div style="padding-left: 40px;">Prof. Dr. Marcelo Micke Doti</div>
    <ul>
    <li><strong>Professor de Ensino Superior Referência I:</strong></li>
    </ul>
    <div style="padding-left: 40px;">Prof. Me. Jorge Jauhar</div>
    <ul>
    <li><strong>Representantes Técnico Administrativo:</strong></li>
    </ul>
    <div style="padding-left: 40px;">Fernando José da Silva</div>
    <div style="padding-left: 40px;">Gilsimara da Silva Rodrigues (suplente)</div>
    <div>&nbsp;</div>
    <ul>
    <li><strong>Representante Discente:</strong></li>
    </ul>
    <div style="padding-left: 40px;">Marcus Vinicius Zivolo</div>
    <ul>
    <li><strong>Representante Comunidade Externa:</strong></li>
    </ul>
    <div style="padding-left: 40px;">Paula Zammarian</div>
    <p>&nbsp;</p>
    <figure class="wp-block-table is-style-stripes"><table><tbody><tr><td><strong>DATAS DAS PRÓXIMAS REUNIÕES</strong></td></tr><tr><td>04/02/2021</td></tr><tr><td>06/05/2021</td></tr><tr><td>29/06/2021</td></tr></tbody></table></figure>
    <figure class="wp-block-table is-style-stripes"><table><tbody><tr><td>REUNIÕES JÁ REALIZADAS</td></tr><tr><td><s><span class="has-inline-color has-cyan-bluish-gray-color">11/08/2020</span></s></td></tr><tr><td><s><span class="has-inline-color has-cyan-bluish-gray-color">22/10/2020</span></s></td></tr><tr><td><s><span class="has-inline-color has-cyan-bluish-gray-color">08/12/2020</span></s></td></tr></tbody></table></figure>
    <br>
  </div>
</main>
<br>
{% endblock content%}