{% extends 'base/main.html'%}

{% block content %}
<br>
<main>
  <header class="entry-header">
    <h1 class="entry-title">CPA</h1>
    <div class="linha"></div>

  </header>
  <br>
  <div class="entry-content">
    <h3 style="text-align:center;">Comissão Própria de Avaliação</h3>
    <br>
    <p>PORTARIA DA FACULDADE DE TECNOLOGIA DE MOCOCA Nº 23/2022,de 23 de março de 2022. Dispõe sobre a nomeação dos novos membros da Comissão Própria de Avaliação (CPA) da FATEC MOCOCA.</p>
    <p>Artigo 1º – Comporão a presente Comissão Própria de Avaliação-CPA, sem prejuízo de suas atividades e sem ônus para a Instituição os seguintes membros:</p>
    <ul>
      <li>Odila Ringolin de Sá; RG: 14.453.918-8 (Presidente – Docente)</li>
      <li>Isaías Eliseu da Silva, RG: 42.559.743-X (Docente)</li>
      <li>Vinícius Henrique Porto Brisighello; RG 46.353.730-0 (Auxiliar Docente)</li>
      <li>Ivair de Almeida Lemes; RG: 32.086.922-2 (Discente)</li>
      <li>José Cortez Júnior; RG: 27.969.735-1 (Representante Externo)</li>
    </ul>
    <br>
    <br>
  </div>
</main>
<br>
{% endblock content%}