{% extends 'base/main.html'%}

{% block content %}
  <br>
  <main>
    <header class="entry-header">
      <h1 class="entry-title">Diretoria da Unidade</h1>
      <div class="linha"></div>
    </header>
    <br>
    <div class="entry-content">
      <p>A Diretoria, órgão executivo encarregado de dirigir e coordenar as atividades de cada Faculdade, é exercida pelo Diretor, auxiliado pelo Vice-Diretor, quando houver, e composta pelas Diretorias de Serviços Administrativos e Acadêmicos</p>
      <br>
      <table class="table" >
        <tr class="table-primary">
          <td>Diretor:</td>
          <td><b>Prof. Dr. Adriano Dias de Carvalho</b></td>
        </tr>
        <tr>
          <td>Email:</td>
          <td><b> f120dir@cps.sp.gov.br</b></td>
        </tr>
        <tr class="table-primary">
          <td>Telefone:</td>
          <td><b> (19)3656-5559 &nbsp;Ramal: 249</b></td>
        </tr>
      </table>
      <br>
    </div>
    <br>
  </main>
<br><br>
{% endblock content %}