{% extends 'base/main.html'%}

{% block content %}
<br>
<main>
  <header class="entry-header">
    <h1 class="entry-title">Diretoria de Serviços</h1>
    <div class="linha"></div>
  </header>
  <br>
  <div class="entry-content">
    <p>A Diretoria de Serviços Administrativos da Faculdade de Tecnologia é um dos órgãos que compõe a Direção da Faculdade, responsável pela coordenação, orientação e controle do desenvolvimento das atividades administrativas da Unidade.</p>
    <h3 style="text-align:center;">Diretor de Serviços</h3>
    <table class="table">
      <tr class="table-primary">
        <td>Nome:</td>
        <td>Thiago Paschoalino</td>
      </tr>
      <tr>
        <td>Email:</td>
        <td>thiago.paschoalino@fatec.sp.gov.br</td>
      </tr>
      <tr class="table-primary">
        <td>Telefone:</td>
        <td>(19)3656-5559 Ramal: 212</td>
      </tr>
    </table>
    <br>
    <br>
    <h3 style="text-align:center;">Agentes Técnicos Administrativos</h3>
    <table class="table">
      <tr class="table-primary">
        <td>(Almoxarife)</td>
        <td>Maurício Lopes Caixeta</td>
      </tr>
      <tr>
        <td>Email:</td>
        <td>mauricio.caixeta@fatec.sp.gov.br</td>
      </tr>
      <tr class="table-primary">
        <td>Telefone:</td>
        <td>(19)3656-5559 Ramal: 241</td>
      </tr>
      <tr><td></td><td></td></tr>
      <tr class="table-primary">
        <td>Nome:</td>
        <td>Gilsimara da Silva Rodrigues</td>
      </tr>
      <tr>
        <td>Email:</td>
        <td>gilsimara.rodrigues@fatec.sp.gov.br</td>
      </tr>
      <tr class="table-primary">
        <td>Telefone:</td>
        <td>(19)3656-5559 Ramal: 210</td>
      </tr>
      <tr><td></td><td></td></tr>
      <tr class="table-primary">
        <td>Nome:</td>
        <td>Miriam Raquel de Sylos</td>
      </tr>
      <tr>
        <td>Email:</td>
        <td>miriam.sylos@fatec.sp.gov.br</td>
      </tr>
      <tr class="table-primary">
        <td>Telefone:</td>
        <td>(19)3656-5559 Ramal: 211</td>
      </tr>
      <tr><td></td><td></td></tr>
      <tr class="table-primary">
        <td>Nome:</td>
        <td>Andréa Cabello Lopes</td>
      </tr>
      <tr>
        <td>Email:</td>
        <td>andrea.lopes01@fatec.sp.gov.br</td>
      </tr>
      <tr class="table-primary">
        <td>Telefone:</td>
        <td>(19)3656-5559 Ramal: 211</td>
      </tr>
    </table>
    <br>
  </div>
</main>
<br>
{% endblock content %}