{% extends 'base/main.html'%}

{% block content %}
<br>
<main>
  <header class="entry-header">
    <h1 class="entry-title">Diretoria de Serviços</h1>
    <div class="linha"></div>
  </header>
  <br>
  <div class="entry-content">
    <p>A Diretoria de Serviços Administrativos da Faculdade de Tecnologia é um dos órgãos que compõe a Direção da Faculdade, responsável pela coordenação, orientação e controle do desenvolvimento das atividades administrativas da Unidade.</p>
    <div style="height:42px" aria-hidden="true" class="wp-block-spacer"></div>
    <table class="table">
      <tr>
        <td>Diretora de Serviços:</td>
        <td>Débora Maria Brisighello</td>
      </tr>
      <tr>
        <td>Email:</td>
        <td>debora.brisighello@fatec.sp.gov.br</td>
      </tr>
      <tr>
        <td>Telefone:</td>
        <td>(19)3656-5559 Ramal: 201</td>
      </tr>
    </table>
    <hr class="wp-block-separator">
    <figure class="wp-block-table is-style-stripes"><table class=""><tbody><tr><td>Agente Técnico Administrativo (Almoxarife):Maurício Lopes Caixeta</td></tr><tr><td>mauricio.caixeta@fatec.sp.gov.br</td></tr><tr><td>(19)3656-5559 Ramal: 240</td></tr></tbody></table></figure>
    <hr class="wp-block-separator">
    <figure class="wp-block-table is-style-stripes"><table class=""><tbody><tr><td>Agente Técnico Administrativo:Gilsimara da Silva Rodrigues</td></tr><tr><td>gilsimara.rodrigues@fatec.sp.gov.br</td></tr><tr><td>(19)3656-5559 Ramal: 203</td></tr></tbody></table></figure>
    <hr class="wp-block-separator">
    <figure class="wp-block-table is-style-stripes"><table class=""><tbody><tr><td>Agente Técnico Administrativo:Thiago Pascholino</td></tr><tr><td>thiago.paschoalino@fatec.sp.gov.br</td></tr><tr><td>(19)3656-5559 Ramal: 205</td></tr></tbody></table></figure>
    <br>
  </div>
</main>
<br>
{% endblock content %}