{% extends 'base/main.html'%}

{% block content %}
<br>
<main>
  <header class="entry-header">
    <h1 class="entry-title">Secretaria Acadêmica</h1>
    <div class="linha"></div>
  </header>
  <br>
  <div class="entry-content">
    <p>A Diretoria de Serviços Acadêmicos da Faculdade de Tecnologia é um dos órgãos que compõe a Direção da Faculdade responsável pela orientação e controle do desenvolvimento das atividades acadêmicas da Faculdade de Tecnologia</p>
    <p>A <strong>Secretaria Acadêmica</strong> é o órgão que operacionaliza todas as atividades ligadas à vida acadêmica do aluno, desde seu ingresso em um dos cursos da Fatec Mococa até sua conclusão/colação de grau e expedição do Diploma.</p>
    <br>
    <p style="text-align:center;"><strong>HORÁRIO DE ATENDIMENTO</strong></p>
    <p>Segunda à Sexta:</p>
    <ul>
      <li ><span style="text-decoration: underline;">Manhã</span>: 10:00 às 12:00</li>
      <li><span style="text-decoration: underline;">Noite</span>: 18:00 às 20:00</li>
    </ul>
    <br>
    <h3 style="text-align:center;">Diretor de Serviços</h3>
    <table class="table">
      <tr class="table-primary">
        <td>Nome:</td>
        <td>Fernando José da Silva</td>
      </tr>
      <tr>
        <td>Email:</td>
        <td>f120acad@cps.sp.gov.br</td>
      </tr>
    </table>
    <br>
    <h3 style="text-align:center;">Agentes Técnico e Administrativo</h3>
    <table class="table">
      <tr>
        <td>Nome:</td>
        <td>Débora Maria Brisighello</td>
      </tr>
      <tr class="table-primary">
        <td>Nome:</td>
        <td>Renata de Moraes</td>
      </tr>
      <tr>
        <td>Nome:</td>
        <td>Rodrigo Luiz Pereira</td>
      </tr>
      <tr class="table-primary">
        <td>Email:</td>
        <td>f120acad2@cps.sp.gov.br</td>
      </tr>
    </table>
    <br>
    <br>
  </div>
</main>
<br>

{% endblock content %}
