{% extends 'base/main.html'%}

{% block content %}
<br>
<main>
  <header class="entry-header">
    <h1 class="entry-title">Núcleo de T.I.</h1>
    <div class="linha"></div>
  </header>
  <br>
  <div class="entry-content">
    <p>O Núcleo de Tecnologia da Informação é responsável por &nbsp;planejar, assessorar, supervisionar e executar as atividades relacionadas com a área de informática do órgão.</p>
    <br>
    <h3 style="text-align:center;">Analista de Suporte e Gestão em TI:</h3>
    <table class="table">
      <tr class="table-primary">
        <td>Nome:</td>
        <td>Nilson Antonio Maria dos Santos</td>
      </tr>
      <tr>
        <td>Email:</td>
        <td>nilson.santos12@fatec.sp.gov.br</td>
      </tr>
      <tr class="table-primary">
        <td>Telefone:</td>
        <td>(19)3656-5559 &nbsp;Ramal: 206</td>
      </tr>
    </table>
    <br>
    <br>
  </div>
</main>
<br>
{% endblock content %}