{% extends 'base/main.html'%}

{% block content %}
<br>
<main>
  <header class="entry-header">
    <h1 class="entry-title">Núcleo de T.I.</h1>
    <div class="linha"></div>
  </header>
  <br>
  <div class="entry-content">
    <p>O Núcleo de Tecnologia da Informação é responsável por &nbsp;planejar, assessorar, supervisionar e executar as atividades relacionadas com a área de informática do órgão.</p>
    <div style="height:42px" aria-hidden="true" class="wp-block-spacer"></div>
    <figure class="wp-block-table is-style-stripes"><table><tbody><tr><td>Analista de Suporte e Gestão em TI: Nilson Antonio Maria dos Santos</td></tr><tr><td>nilson.santos12@fatec.sp.gov.br</td></tr><tr><td>(19)3656-5559 &nbsp;Ramal: 206</td></tr></tbody></table></figure>
    <br>
  </div>
</main>
<br>
{% endblock content %}