{% extends 'base/main.html'%}

{% block content %}
  <br>
  <main>
    <header class="entry-header">
      <h1 class="entry-title">Usuários do Sistema</h1>
      <div class="linha"></div>
    </header>
    <br>
    <div id="news-entry-content">
      <table id="tabela-edit" class="table table-hover text-wrap">
        <thead>
        <tr >
          <th style="width:20%">Nome</th>
          <th style="width:35%">Email</th>
          <th style="width:15%;text-align:center">Status</th>
          <th style="text-align:center">Classe</th>
          <th style="width:10%">Ações</th>
        </tr>
        </thead>
        <tbody>
          {% for u in usuarios %}
          <tr>
            <td>{{u.nome}}</td>
            <td>{{u.email}}</td>
            <td>{{u.ativo}}</td>
            <td style="text-align:center">
                  {{u.is_superuser}}
            </td>
            <td>
              <button name="del" id="del" class="btn btn-danger" data-toggle="modal"
                      data-target="#removeModal"><i class="fas fa-eraser"></i>
              </button>
              <button name="edit" id="edit" class="btn btn-success" data-toggle="modal"
                      data-target="#editModal"><i class="fas fa-pencil-alt"></i>
              </button>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <br>
    </div>
  </main>
  <div class="modal fade" id="editModal" aria-hidden="true" style="z-index:100000000;">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
          <div class="entry-content" style="width:95%!important" >
            <div class="form-group">
                <label for="nome">Nome</label>
                <input type="text" class="form-control" id="nome" name="name">
            </div>
            <div class="form-group">
                <label for="senha">Senha</label>
                <input type="password" class="form-control" id="senha" name="key">
            </div>
            <div class="form-group">
              <label for="email">Email Institucional</label>
              <input type="email" id="email" name="email">
            </div>
            <br>
          </div>
          <br>
          <center>
            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-success" style="width:80px!important;">Salvar</button>
          </center>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="removeModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
          <div class="entry-content" style="width:95%!important" >
            <div class="form-group">
                <label for="nome">Nome</label>
                <input type="text" class="form-control" id="del-nome" name="del-name">
            </div>
            <div class="form-group">
              <label for="email">Email Institucional</label>
              <input type="email" id="del-email" name="del-email">
            </div>
            <br>
            <div class="form-group">
                <h3 style="text-align:center">Tem Certeza que Deseja Excluir?</h3>
            </div>
          </div>
          <br>
          <center>
            <button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-danger" style="width:80px!important;">Excluir</button>
          </center>
        </div>
      </div>
    </div>
  </div>

  <br>
  <br>
  <br>

{% endblock content%}

