@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');
/* Menu */
.navbar {
    background-color: white!important;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 10px;
    height: 30%;
    margin-top:5px;
    margin-left: auto;
    margin-right: auto;
    z-index: 10000000!important;

  }
.navbar-nav{
    margin-left:8%;
}
.navbar-nav .nav-link {
    transition: opacity 0.3s ease;
  }

.nav-link{
    color: black !important;
    transition: 0.5s!important;
}
.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:focus {
    background-color: #b11116;
    color: white !important;
    margin-top:0;
}
  
.dropdown-menu{
    margin-top:2px!important;
    border-top-width: 3px!important;
    border-top-color:#b11116!important;
}
.dropdown-item a{
    font-family: 'Rubik', sans-serif!important;
}
.dropdown-menu .dropdown-item:hover,
.dropdown-menu .dropdown-item:focus{
    color:white;
    background-color:#b11116;
  }

.navbar .nav-item .dropdown-menu{ display: none; }
.navbar .nav-item:hover .dropdown-menu{ display: block;background-color:white!important; }
.navbar .nav-item .dropdown-menu{ margin-top:0; background-color:white!important;}

.navbar .nav-item{
    font-family: 'Rubik', sans-serif;

}
/* Card */
.cards {
    justify-content: space-around;
    margin: 0.5% 1% 0 0 ;
}
.card-courses{
    margin-top:8px!important;
    text-align: center;
    margin:1%!important;
    width: 210px;
    height: 190px;
    border-radius: 8%!important;
    transition: transform 0.3s ease-in-out;
    /*box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3), 0 2px 10px rgba(0, 0, 0, 0.2);*/
    border: 1px solid!important;
    padding: 10px!important;
    box-shadow: 3px 2px #888888!important;
}

.card-courses:hover {
    transform: translateY(-15px);
}
.card-body img{
    width:40%;
    height:40%;
}

.card-link{
    text-decoration:none;
    color:black;
}

.card-link:hover{
    /*color:#b11116;*/
    color:black;
}
.card-text{
   font-family: 'Rubik', sans-serif;
   font-size:1.1em;
}
.card-img-top{
    border-radius: 25% 10%!important;
}




/* Slider */
.carousel-control-prev-icon, .carousel-control-next-icon{
    color: black!important;
}
.carousel-item{
    margin-left:calc(100vw - 75vw);
}

/* Div Noticias */
.noticias {
    width: 43%;
    height: calc(100vh - 300px);
    margin: 0 auto;
    margin-left: calc(100vw - 75vw);
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3), 0 2px 10px rgba(0, 0, 0, 0.2);
}

/* Div Novidades */
#novidades {
    width: 20%;
    height: 50%;
    margin: 0 auto;
    margin-left: calc(100vw - 90vw);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3), 0 2px 10px rgba(0, 0, 0, 0.2);
}
#novidades{
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#novidades hr {
    border-color: black;
    font-weight: bold;
    font-style: italic;
    text-align: right;
}

#novidades,
#noticias {
	display: inline-block;
	vertical-align: top;
}

.container{
    margin:0 auto!important;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:white!important;
}

#rodape {
    background-color:#b11116;
    color: white;
    padding: 20px;
    padding-right:0!important;
    font-family: 'Rubik', sans-serif;
    text-align:center;

}

#rodape .destaque {
    font-weight: bold;
}

#mapa {
    width: 100%;
    height: 400px;
    margin-top: 20px;
}


.linha{
    margin-top:0;
    padding-top:0;
    width: 20%;
    height: 10px;
    border-bottom: 5px solid #b11116;
    text-align: center;
    margin:0 auto;
}
.texto{
    margin-bottom:0;
    padding-bottom:0;
    text-align: center;
    font-weight: bold;
}

/* Main */
main{
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3), 0 2px 10px rgba(0, 0, 0, 0.2);
    width:60%;
    margin:0 auto;
    text-align: center;
    border-radius: 2%!important;
}

.entry-title{
    margin:0 auto;
    padding-top:3%;
    font-family: 'Rubik', sans-serif;
    weight:500;
    width:50%;


}

.entry-content{
    margin:0 auto;
    width:70%;
    padding-top:1%;
    font-family: 'Rubik', sans-serif;
    font-size:1.2em;
    text-align:left;
}
.extra{
    width:75%;

}
#emec, #emecqrcode{
    margin:0 auto auto auto;
    border-radius: 20%!important;
    width:30%;
    height:30%;
    justify-content: flex-end;
}

#logo{
    width:21%;
    height:21%;
}
.logos{
    align-self:center;
}

#logosp{
    background-color:#000e4b;
    margin:2% auto;
    margin-right:0px!important;
    padding-right:0px!important;
    border-radius: 50px 0 0 50px!important;
}


#logofatec{
    background-color:#000e4b;
    text-align:center;
    margin: 0 10% 0 10%;
    padding:0;
    font-family: 'Rubik', sans-serif;
    border-radius: 50px!important;

}

p{
    font-family: 'Rubik', sans-serif;
    font-height:400;
}
.errors{
    width: 18rem!important;
    position:absolute!important;
    margin:0 0 0 50%!important;

}


/* News */

.text-news{
    font-size:22px;
    padding-left:20px;
    color:black;
}

.text-news:hover{
    color:black;
}

.calendar-news{
    color:gray;
    font-family:'Arial', arial;
    font-size:12px!important;
    margin-left:20px;
}


.card-news{
    border-radius:15px !important;
    border: 1px solid!important;
    padding: 10px!important;
    box-shadow: 3px 4px #888888!important;
}

.img-news, .img-news img{
    width:130px;
    height:130px;

}
.news-content{
    margin:0 auto;
    width:90%;
    padding-top:1%;
    font-family: 'Rubik', sans-serif;
    font-size:1.2em;
    text-align:left;
}
/* Noticias */
#tabela{
    width:100%;
    height:100%;
    vertical-align:middle;
}
#tabela td{
    width:20%;
}
#news-entry-content{
    margin:0 auto;
    width:90%;
    padding-top:1%;
    font-family: 'Rubik', sans-serif;
    font-size:1.2em;
    text-align:left;
}

#news-entry-content table td{
    vertical-align:middle!important;
}
#news-capa{
    width:30%;
    height:30%!important;
}

/* Errors PAGE */
.errors{
    width: 18rem!important;
    position:absolute!important;
    margin:10% 50% 0 40%!important;
    border-radius: 25% 10%!important;
    padding:0;
    background-color:red;

}
.card-img-top{
    border-radius: 25% 10%!important;
}
.errors-card-title, .errors-card-text{
    color:white;
    font-weight:bold;
}
#errors-title{
    font-family: 'Arvo', serif;
    position:absolute;
    margin-top: 10px;
    margin-left:35%;
}