{% extends 'base/main.html'%}

{% block content %}
  <br>
  <main>
    <header class="entry-header">
      <h1 class="entry-title">Páginas</h1>
      <div class="linha"></div>
    </header>
    <br>
    <div class="entry-content">
      <table id="tabela" class="table table-hover text-nowrap">
        <thead>
        <tr>
          <th>Título</th>
          <th>Descrição</th>
          <th>Anexos</th>
          <th>Imagem</th>
          <th>Ação</th>
        </tr>
        </thead>

        <tbody>
                <tr>
                  <td>Trident</td>
                  <td>Internet
                    Explorer 4.0
                  </td>
                  <td>Win 95+</td>
                  <td> 4</td>
                  <td> 4</td>
                </tr>
                <tr>
                  <td>Trident</td>
                  <td>Internet
                    Explorer 5.0
                  </td>
                  <td>Win 95+</td>
                  <td>5</td>
                  <td>5</td>
                </tr>
                <tr>
                  <td>Trident</td>
                  <td>Internet
                    Explorer 5.5
                  </td>
                  <td>Win 95+</td>
                  <td>5.5</td>
                  <td>5.5</td>
                </tr>
                <tr>
                  <td>Trident</td>
                  <td>Internet
                    Explorer 6
                  </td>
                  <td>Win 98+</td>
                  <td>6</td>
                  <td>6</td>
                </tr>
                <tr>
                  <td>Trident</td>
                  <td>Internet Explorer 7</td>
                  <td>Win XP SP2+</td>
                  <td>7</td>
                  <td>7</td>
                </tr>
                <tr>
                  <td>Trident</td>
                  <td>AOL browser (AOL desktop)</td>
                  <td>Win XP</td>
                  <td>6</td>
                  <td>6</td>
                </tr>
                <tr>
                  <td>Gecko</td>
                  <td>Firefox 1.0</td>
                  <td>Win 98+ / OSX.2+</td>
                  <td>1.7</td>
                  <td>1.7</td>
                </tr>
                <tr>
                  <td>Gecko</td>
                  <td>Firefox 1.5</td>
                  <td>Win 98+ / OSX.2+</td>
                  <td>1.8</td>
                  <td>1.8</td>
                </tr>
                </tbody>
      </table>
      <br>
    </div>
  </main>
  <br>
  <br>
  <br>

{% endblock content%}

