<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Fatec Mococa | Log in</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% load static %}
  <link rel="stylesheet" href="{% static '/admin-lte/plugins/fontawesome-free/css/all.min.css' %}">
  <link rel="stylesheet" href="{% static '/admin-lte/plugins/icheck-bootstrap/icheck-bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static '/admin-lte/dist/css/adminlte.css' %}">
  <link rel="stylesheet" href="{% static '/admin-lte/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css' %}">
  <link rel="stylesheet" href="{% static '/admin-lte/plugins/sweetalert2/sweetalert2.min.css' %}">
  <link rel="stylesheet" href="{% static '/css/estilo.css' %}">

  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<body class="hold-transition login-page" >
 <div class="loginTop">
   <center>
    <img src="{% static '/imagens/institucional/Logo_20_transp.png' %}" width="45%">
   </center>
  </div>
 <div class="login-box">
  <div class="login-logo">
  </div>
  <!-- /.login-logo -->
  <div class="card card-danger card-outline">
    <div class="card-body login-card-body ">
      <p class="login-box-msg">Entre com suas Credenciais</p>

      <form action="{% url 'login' %}" method="POST">
          {% csrf_token %}
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Usuário" name="user">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input type="password" class="form-control" placeholder="Password" name="pwd">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-8">
            <div class="icheck-primary">
              <input type="checkbox" id="remember">
              <label for="remember">
                Lembrar
              </label>
            </div>
          </div>
          <!-- /.col -->
          <div class="col-4">
            <button type="submit" class="btn btn-danger btn-block">Entrar</button>
          </div>
          <!-- /.col -->
        </div>
      </form>
      <p class="mb-1">
        <a href="forgot-password.html" class="text-danger">Esqueci minha Senha</a>
      </p>
    </div>
    <!-- /.login-card-body -->
  </div>
</div>
<!-- /.login-box -->
<div class="loginBottom">

</div>

<script src="/static/admin-lte/plugins/jquery/jquery.min.js"></script>
<script src="/static/admin-lte/plugins/jquery-ui/jquery-ui.min.js"></script>
<script src="/static/admin-lte/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/static/admin-lte/plugins/sweetalert2/sweetalert2.min.js"></script>
<script src="/static/admin-lte/dist/js/adminlte.js"></script>
</body>
</html>
