{% extends 'base/main.html'%}

{% block content %}
<main id="main" class="site-main" role="main">
    <header class="entry-header">
        <h1 class="entry-title">Auxiliares Docentes</h1>
        <div class="linha"></div>
    </header>
    <div class="entry-content">
        <br>
        <p>Os Auxiliares de Docentes são responsáveis pelas atividades práticas de auxiliares do ensino de segundo grau, instruindo e orientando alunos através de informações e demonstrações técnicas operacionais, específicas nos laboratórios e nas oficinas, bem como zelar pela conservação de equipamentos e instalações, cumprir e fazer cumprir as normas de higiene e segurança do trabalho</p>
        <table>
          <tr>
            <td>Rogério Colpani</td>
            <td>rogerio.colpani@fatec.sp.gov.br</td>
            <td>(19)3656-5559 &nbsp;Ramal: 225</td>
          </tr>
          <tr>
            <td>Vinícius Henrique Porto Brisighello</td>
            <td>vinicius.brisighello@fatec.sp.gov.br</td>
            <td>(19)3656-5559 &nbsp;Ramal: 237</td>
          </tr>
        </table>
        <br>
    </div>
    <br>
</main>
<br>
{% endblock content%}