{% extends 'base/main.html'%}

{% block content %}
<br>
<main>
    <header class="entry-header">
        <h1 class="entry-title">Professores</h1>
        <div class="linha"></div>
    </header>
    <br>
    <div class="entry-content" style="width:90%">
        <p>Lista de docentes da unidade, com links para o currículo na plataforma <strong><a href="http://lattes.cnpq.br" target="_blank" rel="noopener noreferrer">Lattes</a></strong>.</p>
        <table class="table" id="professores">
            <thead>
                    <tr>
                      <th>PROFESSOR</th>
                      <th>E-mail</th>
                      <th>CURRÍCULO LATTES</th>
                  </tr>
            </thead>
            <tbody>
              <tr>
                  <td>Adriano Dias de Carvalho</td>
                  <td>adriano.carvalho105@fatec.sp.gov.br</td>
                  <td><a href="http://lattes.cnpq.br/2763540823986618" target="_blank" rel="noopener noreferrer">http://lattes.cnpq.br/2763540823986618</a></td>
              </tr>
              <tr>
                  <td>Ana Paula Bagaiolo Moraes Barbosa</td>
                  <td>ana.moraes22@fatec.sp.gov.br</td>
                  <td><a href="http://lattes.cnpq.br/5211528576933137" target="_blank" rel="noopener noreferrer">http://lattes.cnpq.br/5211528576933137</a></td>
              </tr>
              <tr>
                  <td>Bianca Agarie</td>
                  <td>bianca.agarie@fatec.sp.gov.br</td>
                  <td><a href="http://lattes.cnpq.br/4013462769714857" target="_blank" rel="noopener noreferrer">http://lattes.cnpq.br/4013462769714857</a></td>
              </tr>
              <tr>
                  <td>Claudionei Nalle Júnior</td>
                  <td>claudionei.nalle@fatec.sp.gov.br</td>
                  <td><a href="http://lattes.cnpq.br/1592458086402233" target="_blank" rel="noopener noreferrer">http://lattes.cnpq.br/1592458086402233</a></td>
              </tr>
              <tr>
                  <td>Darlan Marcelo Delgado</td>
                  <td>darlan.delgado@fatec.sp.gov.br</td>
                  <td><a href="http://lattes.cnpq.br/8081149950341236" target="_blank" rel="noopener noreferrer">http://lattes.cnpq.br/8081149950341236</a></td>
              </tr>
              <tr>
                  <td>Dimitrie Hristov Sobrinho</td>
                  <td>dimitrie.sobrinho@fatec.sp.gov.br</td>
                  <td><a href="http://lattes.cnpq.br/5242647743585815" target="_blank" rel="noopener noreferrer">http://lattes.cnpq.br/5242647743585815</a></td>
              </tr>
              <tr>
                  <td>Elimar Veloso Conceição</td>
                  <td>elimar.conceicao@fatec.sp.gov.br</td>
                  <td><a href="http://lattes.cnpq.br/1781793206123493" target="_blank" rel="noopener noreferrer">http://lattes.cnpq.br/1781793206123493</a></td>
              </tr>
              <tr>
                  <td>Fabiana Maria Martins Gomes de Castro</td>
                  <td>fabiana.castro2@fatec.sp.gov.br</td>
                  <td><a href="http://lattes.cnpq.br/6692960992490531" target="_blank" rel="noopener noreferrer">http://lattes.cnpq.br/6692960992490531</a></td>
              </tr>
              <tr>
                  <td>Gilberto Brandão Marcon</td>
                  <td>gilberto.marcon@fatec.sp.gov.br</td>
                  <td><a href="http://lattes.cnpq.br/2693115430513537" target="_blank" rel="noopener noreferrer">http://lattes.cnpq.br/2693115430513537</a></td>
              </tr>
              <tr>
                  <td>Guilherme Henrique de Souza</td>
                  <td>guilherme.souza108@fatec.sp.gov.br</td>
                  <td><a href="http://lattes.cnpq.br/2625984253351270" target="_blank" rel="noopener noreferrer">http://lattes.cnpq.br/2625984253351270</a></td>
              </tr>
              <tr>
                  <td>Hamilton Machiti da Costa</td>
                  <td>hamilton.costa@fatec.sp.gov.br</td>
                  <td><a href="http://lattes.cnpq.br/5321303348802233" target="_blank" rel="noopener noreferrer">http://lattes.cnpq.br/5321303348802233</a></td>
              </tr>
              <tr>
                  <td>Ieoschua Katz</td>
                  <td>ieoschua.katz@fatec.sp.gov.br</td>
                  <td><a href="http://lattes.cnpq.br/6950896157949020" target="_blank" rel="noopener noreferrer">http://lattes.cnpq.br/6950896157949020</a></td>
              </tr>
              <tr>
                  <td>Isáias Eliseu da Silva</td>
                  <td>isaias.eliseu01@fatec.sp.gov.br</td>
                  <td><a href="http://lattes.cnpq.br/5828073712245666" target="_blank" rel="noopener noreferrer">http://lattes.cnpq.br/5828073712245666</a></td>
              </tr>
              <tr>
                  <td>Jaciara Silva Carosia</td>
                  <td>jaciara.carosia@fatec.sp.gov.br</td>
                  <td><a href="http://lattes.cnpq.br/6766571152282367" target="_blank" rel="noopener noreferrer">http://lattes.cnpq.br/6766571152282367</a></td>
              </tr>
              <tr>
                  <td>Jean Miler Scatena</td>
                  <td>jean.scatena@fatec.sp.gov.br</td>
                  <td><a href="http://lattes.cnpq.br/6061892276005185" target="_blank" rel="noopener noreferrer">http://lattes.cnpq.br/6061892276005185</a></td>
              </tr>
              <tr>
                  <td>João Vieira Monteiro</td>
                  <td>joao.vieira5@fatec.sp.gov.br</td>
                  <td><a href="http://lattes.cnpq.br/9513370247314256" target="_blank" rel="noopener noreferrer">http://lattes.cnpq.br/9513370247314256</a></td>
              </tr>
              <tr>
                  <td>Jorge Jauhar</td>
                  <td>jorge.jauhar@fatec.sp.gov.br</td>
                  <td><a href="http://lattes.cnpq.br/9911005340131964" target="_blank" rel="noopener noreferrer">http://lattes.cnpq.br/9911005340131964</a></td>
              </tr>
              <tr>
                  <td>José Acácio Beloti Filho</td>
                  <td>jose.beloti@fatec.sp.gov.br</td>
                  <td><a href="http://lattes.cnpq.br/2470834322906806" target="_blank" rel="noopener noreferrer">http://lattes.cnpq.br/2470834322906806</a></td>
              </tr>
              <tr>
                  <td>José Cortez Junior</td>
                  <td>jose.cortez@fatec.sp.gov.br</td>
                  <td><a href="http://lattes.cnpq.br/2935074908412600" target="_blank" rel="noopener noreferrer">http://lattes.cnpq.br/2935074908412600</a></td>
              </tr>
              <tr>
                  <td>José Eduardo Zaia</td>
                  <td>jose.zaia@fatec.sp.gov.br</td>
                  <td><a href="http://lattes.cnpq.br/0035437055660419" target="_blank" rel="noopener noreferrer">http://lattes.cnpq.br/0035437055660419</a></td>
              </tr>
              <tr>
                  <td>Juliana Gisele da Silva Nalle</td>
                  <td>juliana.nalle@fatec.sp.gov.br</td>
                  <td><a href="http://lattes.cnpq.br/3936619369335172" target="_blank" rel="noopener noreferrer">http://lattes.cnpq.br/3936619369335172</a></td>
              </tr>
              <tr>
                  <td>Júlio Cesar Teixeira</td>
                  <td>julio.teixeira@fatec.sp.gov.br</td>
                  <td><a href="http://lattes.cnpq.br/3870315250439695" target="_blank" rel="noopener noreferrer">http://lattes.cnpq.br/3870315250439695</a></td>
              </tr>
              <tr>
                  <td>Lucas de Oliveira Gomes</td>
                  <td>lucas.gomes@fatec.sp.gov.br</td>
                  <td><a href="http://lattes.cnpq.br/9638410061107196" target="_blank" rel="noopener noreferrer">http://lattes.cnpq.br/9638410061107196</a></td>
              </tr>
              <tr>
                  <td>Luciana José Garcia Ribeiro</td>
                  <td>luciana.ribeiro@fatec.sp.gov.br</td>
                  <td><a href="http://lattes.cnpq.br/5082295241755225" target="_blank" rel="noopener noreferrer">http://lattes.cnpq.br/5082295241755225</a></td>
              </tr>
              <tr>
                  <td>Luciano Bérgamo</td>
                  <td>luciano.bergamo@fatec.sp.gov.br</td>
                  <td><a href="http://lattes.cnpq.br/9366315455561553" target="_blank" rel="noopener noreferrer">http://lattes.cnpq.br/9366315455561553</a></td>
              </tr>
              <tr>
                  <td>Luis Marcelo Bortolotti</td>
                  <td>luis.bortolotti@fatec.sp.gov.br</td>
                  <td><a href="http://lattes.cnpq.br/6033804392810373" target="_blank" rel="noopener noreferrer">http://lattes.cnpq.br/6033804392810373</a></td>
              </tr>
              <tr>
                  <td>Luiz Guilherme Costa Paschoalini</td>
                  <td>luiz.paschoalini@fatec.sp.gov.br</td>
                  <td><a href="http://lattes.cnpq.br/8541290655648582" target="_blank" rel="noopener noreferrer">http://lattes.cnpq.br/8541290655648582</a></td>
              </tr>
              <tr>
                  <td>Marcelo Micke Doti</td>
                  <td>marcelo.doti@fatec.sp.gov.br</td>
                  <td><a href="http://lattes.cnpq.br/5227461005783877" target="_blank" rel="noopener noreferrer">http://lattes.cnpq.br/5227461005783877</a></td>
              </tr>
              <tr>
                  <td>Márcia Ferreira Moraes</td>
                  <td>marcia.moraes@fatec.sp.gov.br</td>
                  <td><a href="http://lattes.cnpq.br/8392941655075132" target="_blank" rel="noopener noreferrer">http://lattes.cnpq.br/8392941655075132</a></td>
              </tr>
              <tr>
                  <td>Marciel Aparecido Ferreira</td>
                  <td>marciel.ferreira01@fatec.sp.gov.br</td>
                  <td><a href="http://lattes.cnpq.br/4996424237043344" target="_blank" rel="noopener noreferrer">http://lattes.cnpq.br/4996424237043344</a></td>
              </tr>
              <tr>
                  <td>Maria Betânia Darcie Pessoa Delgado</td>
                  <td>maria.betania99@fatec.sp.gov.br</td>
                  <td><a href="http://lattes.cnpq.br/7164857336846835" target="_blank" rel="noopener noreferrer">http://lattes.cnpq.br/7164857336846835</a></td>
              </tr>
              <tr>
                  <td>Menoti Borri</td>
                  <td>menoti.borri2@fatec.sp.gov.br</td>
                  <td><a href="http://lattes.cnpq.br/2864874147177178" target="_blank" rel="noopener noreferrer">http://lattes.cnpq.br/2864874147177178</a></td>
              </tr>
              <tr>
                  <td>Mirina Luiza Myczkowski Gomes</td>
                  <td>mirina.gomes@fatec.sp.gov.br</td>
                  <td><a href="http://lattes.cnpq.br/0216994882446614" target="_blank" rel="noopener noreferrer">http://lattes.cnpq.br/0216994882446614</a></td>
              </tr>
              <tr>
                  <td>Odila Rigolin de Sá</td>
                  <td>odila.sa@fatec.sp.gov.br</td>
                  <td><a href="http://lattes.cnpq.br/0032628192326037" target="_blank" rel="noopener noreferrer">http://lattes.cnpq.br/0032628192326037</a></td>
              </tr>
              <tr>
                  <td>Renato de Oliveira Violin</td>
                  <td>renato.violin2@fatec.sp.gov.br</td>
                  <td><a href="http://lattes.cnpq.br/6606329416739992" target="_blank" rel="noopener noreferrer">http://lattes.cnpq.br/6606329416739992</a></td>
              </tr>
              <tr>
                  <td>Ricardo Boone Wotckoski</td>
                  <td>ricardo.wotckoski@fatec.sp.gov.br</td>
                  <td><a href="http://lattes.cnpq.br/1944251139657142" target="_blank" rel="noopener noreferrer">http://lattes.cnpq.br/1944251139657142</a></td>
              </tr>
              <tr>
                  <td>Sandra Cristina Costa Prado</td>
                  <td>sandra.prado01@fatec.sp.gov.br</td>
                  <td><a href="http://lattes.cnpq.br/0892680246657584" target="_blank" rel="noopener noreferrer">http://lattes.cnpq.br/0892680246657584</a></td>
              </tr>
              <tr>
                  <td>Sílvia Regina Martinez de Mello Lipi</td>
                  <td>silvia.mello@fatec.sp.gov.br</td>
                  <td><a href="http://lattes.cnpq.br/6981360570475119" target="_blank" rel="noopener noreferrer">http://lattes.cnpq.br/6981360570475119</a></td>
              </tr>
              <tr>
                  <td>Tarcísio Jorge Bezerra</td>
                  <td>tarcisio.bezerra@fatec.sp.gov.br</td>
                  <td><a href="http://lattes.cnpq.br/1677578638166199" target="_blank" rel="noopener noreferrer">http://lattes.cnpq.br/1677578638166199</a></td>
              </tr>
              <tr>
                  <td>Tiago Antônio da Silva</td>
                  <td>tiago.silva197@fatec.sp.gov.br</td>
                  <td><a href="http://lattes.cnpq.br/0183165737768103" target="_blank" rel="noopener noreferrer">http://lattes.cnpq.br/0183165737768103</a></td>
              </tr>
              <tr>
                  <td>Washington Moreira Braga</td>
                  <td>washington.braga2@fatec.sp.gov.br</td>
                  <td><a href="http://lattes.cnpq.br/7567897763840337" target="_blank" rel="noopener noreferrer">http://lattes.cnpq.br/7567897763840337</a></td>
              </tr>
              <tr>
                  <td>Yamilia Barrios Tolon</td>
                  <td>yamilia.tolon@fatec.sp.gov.br</td>
                  <td><a href="http://lattes.cnpq.br/8136920726935632" target="_blank" rel="noopener noreferrer">http://lattes.cnpq.br/8136920726935632</a></td>
              </tr>
            </tbody>
        </table>
        <br>
    </div>
</main>
<br>
{% endblock %}